/**********************************************
          Dance Company Side Menu
**********************************************/

#menu_dc_side {
	position: relative;
	background-color: none;
	float: left;
	width: 140px;
	margin-left: 20px;
}

#menu_dc_side a {
	font: 19px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	display: block;
	width: auto;
	text-decoration: none;
	line-height: 30px;
	padding-top: 3px;
	background-color: #8a09db;
}

#menu_dc_side a:hover {
	background-image: url(/assets/structure/menu_hover_image.png);
	background-size: 23px;
	background-repeat: no-repeat;
	background-position: left;
	background-color: none;
	color: #FFF;
	background-position-y: 5px;
	background-position-x: 4px;
	background-color: #6100B0;
}

#menu_dc_side ul {
	list-style-type: none;	
	margin: 0;
	padding: 0;
}

#menu_dc_side li {
	float: left;
	text-align: center;
	width: 140px;
	margin-bottom: 5px;
	border: 2px solid #111;
}

/*******************************************************/

#content_nexttomenu{
	float: left;
	width: 760px;
	text-align: center;
	margin-left: 30px;
	/*border: solid 1px red;*/
	padding: 0;
}

#content_bottom{
	float: right;
	width: 810px;
	margin: 0px auto;
	text-align: center;
	min-height: 60px;
	}

h1{
	font-size: 45px;
}

#gallery {padding: 0; margin: 0; list-style: none;}
#gallery li { float: left; width: 160px; text-align:center; padding-top: 4px; background-color: #ddd; margin: 6px 12px; vertical-align: middle; border: 1px solid #999;}
#gallery li:hover {background-color: #999; border: solid 1px #555;}
#gallery img {border: solid #444 1px;}