/*Gender Header*/
h1{margin: 0; text-align: center; font-size: 28px; line-height: 36px;font-family: "grilled_cheese", "Trebuchet MS";}
/*Page Header*/
h2{padding: 3px; margin: 0px; font-size: 18px; text-align: center;}
/*Level Title Headers*/
h3{text-align: center; margin: 5px 0px 2px 0px;	font-size: 18px; padding: 0;}
/*Level Info*/
h4{text-align: center; font-size: 13px; margin-bottom: 6px; margin-top:0}

body {
  background-color: #223d99;
  color: #222;
  font-size: 13px;
  font-family: "Trebuchet MS";
  text-align: left;
  margin-top: 10px;
}

@font-face {
    font:{
      family: 'TrebuchetMSRegular';
      weight: 'normal';
      style: 'normal';
    }
    src: asset-url('trebuc.eot', font);
    src: asset-url('trebuc.eot?#iefix', font) format('embedded-opentype'),
         asset-url('trebuc.woff', font) format('woff'),
         asset-url('trebuc.ttf', font) format('truetype'),
         asset-url('trebuc.svg#TrebuchetMSRegular', font) format('svg');
}

@font-face {
  font: {
    family: 'grilled_cheese';
    weight: 'normal';
    style: 'normal';
  }
  src: asset-url('grilcbc_.eot', font);
  src: asset-url('grilcbc_.eot?#iefix', font) format('embedded-opentype'),
       asset-url('grilcbc_.woff', font) format('woff'),
       asset-url('grilcbc_.ttf', font) format('truetype'),
       asset-url('grilcbc_.svg#grilled_cheese', font) format('svg');
}

.day{
	float: left;
	width: 100%;
	h3{
		text-align: left;
		font-size: 14px;
	}
}
.day_name{
	float: left;
	margin: 0px 10px 0px 10px;
	padding: 0px;
	width: 30px;
}
.classes_box{
	float: left;
	margin-top: 5px;
	padding-left: 20px;
	width: 73%;
}

.future_class{
	font-size: 11px;
	float: right;
	margin-top: 2px;
}

#master_container{
  	background-color: #fff;
	overflow: auto;
	width: 980px;
  	margin: 0 auto;
  	border: solid green 0px;
  	border-radius: 15px;
  	padding: 15px;
}
#schedule_header {
	border: 1px solid black;
	background-color: #ccc;
	width: 938px;
	padding: 0px 20px;
}
#info_container{
	border: 2px #333 solid;
	width: 962px;
	height: 120px;
	margin: 6px 0px;
	padding: 7px;
	float:left;

	#info{
		border: 1px #888 solid;
		width: 320px;
		height: 118px;
		float:left;
		h3{
			text-decoration: underline;
			margin-bottom:5px;
      		margin-top: 2px;
		}
		p{
			text-align: center;
			font-size: 14px;
			margin:0;
			line-height: 22px;
		}
	}

	#logo{
		width: 314px;
		float:left;
		height: 118px;
		text-align: center;
		margin-left:4px;
	}
}
#gym_info{
	h2{font-size: 22px; margin-top: -3px}
	h3{font-size: 15px; margin-top:2px}
	width: 320px;
	float:right;
	border: 1px #888 solid;
		height: 118px;
}

/*************************************************************/
/*************************** GIRLS ***************************/
/*************************************************************/
#girls_container{
	float:left;
	/*border: solid purple 1px;*/
	width: 656px;
}
#girls_header{
	border: 1px solid black; 
    background-color: #ccc;
    margin: 6px 0px;
    width: 648px;
    height: auto;
}
#column{
	width: 320px;
	margin-right: 8px;
}
#girls_levels_container {
	/* ID I use in masorny to sort out all the levels */
	/*border: blue solid 3px;*/
}
#girls_levels{
	border: 1px solid black; 
	margin: 0px 6px 6px 0px;
	width: 320px;
	padding-bottom: 10px;
	float: left;
}

/************************************************************/
/*************************** BOYS ***************************/
/************************************************************/

#boys_container{
	float: right;
	/*border: blue solid 1px;*/
	width: 322px;
}
#boys_header{
	border: 1px solid black; 
    background-color:#ccc;
    margin: 6px 0px;
    width: 320px;
    height: auto;
}
#boys_levels_container {
	/* ID I use in masorny to sort out all the levels */
	/*border: blue solid 3px;*/
}
#boys_levels{
	border: 1px solid black; 
	margin-bottom: 6px;
	width: 320px;
	padding-bottom: 10px;
	float: left;
}

/**************************************************************/
/*************************** TUMBLE ***************************/
/**************************************************************/

#tumble_container{
	float: right;
	/*border: blue solid 1px;*/
	width: 322px;
}
#tumble_header{
	border: 1px solid black; 
    background-color:#ccc;
    margin: 6px 0px;
    width: 320px;
}
#tumble_levels_container {
	/* ID I use in masorny to sort out all the levels */
	/*border: blue solid 3px;*/
}
#tumble_levels{
	border: 1px solid black; 
	margin-bottom: 6px;
	width: 320px;
	padding-bottom: 10px;
	float: left;
}

/***********************************************************/
/*************************** TAG ***************************/
/***********************************************************/

#tag_container{
	float: left;
	/*border: blue solid 1px;*/
	width: 987px;
	margin-top: 6px;
}
#tag_levels{
	border: 1px solid black; 
	margin: 0px 7px 6px 0px;
	width: 320px;
	padding-bottom: 10px;
	float: left;
}

/*********************************************************************/
/*************************** TUMBLEBUNNIES ***************************/
/*********************************************************************/
#tb_container{
	float: left;
	/*border: blue solid 1px;*/
	width: 987px;
	margin-top: 6px;
}
#tb_levels{
	border: 1px solid black; 
	margin: 0px 7px 6px 0px;
	width: 320px;
	padding-bottom: 10px;
	float: left;
}

/*************************************************************/
/*************************** GIRLS ***************************/
/*************************************************************/
#swim_container{
	float:left;
	/*border: solid purple 1px;*/
	width: 987px;
}

#swim_header{
	border: 1px solid black; 
  background-color: #ccc;
  margin: 6px 0px;
  width: 978px;
  overflow: none;
  h1{font-size: 22px; line-height: 26px;} 
}

#swim_levels_container {
	/*border: blue solid 3px;*/
	/*height: 980px;*/
}

#swim_levels{
	border: 1px solid black; 
	margin: 0px 7px 6px 0px;
	width: 320px;
	padding-bottom: 10px;
	float: left;
}

#sa_swim_header{
  border: 1px solid black; 
  background-color: #ccc;
  margin: 6px 0px;
  width: 978px;
  overflow: none;
  h1{font-size: 22px; line-height: 26px;} 
}

#sa_swim_levels_container {
  /*border: blue solid 3px;*/
  /*height: 980px;*/
}

#sa_swim_levels{
  border: 1px solid black; 
  margin: 0px 7px 6px 0px;
  width: 320px;
  padding-bottom: 10px;
  float: left;
}

/*************************************************************/
/*************************** DANCE ***************************/
/*************************************************************/


#pre_school_age_dance_header {
  border: 1px solid black;
  background-color: #ccc;
  width: 938px;
  padding: 0px 20px;
}
#dance_container{
  float: left;
  /*border: blue solid 1px;*/
  width: 987px;
  margin-top: 6px;
}
#dance_levels{
  border: 1px solid black; 
  margin: 0px 7px 6px 0px;
  width: 320px;
  padding-bottom: 10px;
  float: left;
}
#school_age_dance_header {
  border: 1px solid black;
  background-color: #ccc;
  width: 938px;
  padding: 0px 20px;
  overflow: auto;
}
#sa_dance_container{
  float: left;
  /*border: blue solid 1px;*/
  width: 987px;
  margin-top: 6px;
}
#sa_dance_levels{
  border: 1px solid black; 
  margin: 0px 7px 6px 0px;
  width: 320px;
  padding-bottom: 10px;
  float: left;
}