<%#= stylesheet_link_tag "FileSpecificCSS/absents", :media => "all" %>

<div class="row align-center columns small-12">
  <h1>Notice to Discontinue</h1>
</div>

<div class="row align-center">
  <div class="columns small-12 medium-8">
    <p style="font-size: 22px; text-align: justify; line-height: 35px;">
      It is my intent to discontinue enrollment of my child at TRICKS. Please discontinue charging my credit card for payment of future tuition.
    </p>
  </div>
</div>

<div class="row align-center">
  <div class="columns small-12 medium-8">
    <%= render 'form' %>
  </div>
</div>