<h1>Random Parent Comment</h1>

<div style="float:left; width: 230px; text-align: justify;  margin-left: 20px;">
	<div style="width: 230px; float:left; font-color: #222;">
		"<%= @comment.comment %>"
	</div>
	<div>
		<h3 style="float:right; font-size: 14px; color: #444">-<%= @comment.name %></h3>
	</div>
	
</div>
