
<div style="margin: 0px 10px 0px 10px;">
	<% @comment.each do |t| %>
		<div id="Random_Comment_Container">
			<div id="Comment">
				"<%= t.comment %>"<br/>
			</div>
			<div>
				<h3 id="Name">-<%= t.name %></h3>
			</div>
		</div>
	<% end %>
</div>


