<% @title = "Tricks Dance Company: About Us" %>
<%= stylesheet_link_tag "static/dance_company", :media => "all" %>

<% content_for :pagestyle do %>
  body {background-color: <%= @bgc_purple %>; font-size: 14px;}
  ul li {text-align: left;}
<% end %>

<div id="content">
	<h1>What is Dance Company?</h1>
	<%= render 'side_menu' %>

	<div id="content_nexttomenu">
		<p><b>Purpose:</b> The Tricks Dance Company philosophy is; “Family first, then school, then dance.  We believe in quality time in the dance studio not quantity.  Our goal with this company is to challenge each student to develop their own strength, flexibility, poise and stage presence.  This will in turn build strong self-confidence and hopefully a strong love for the art of dance.”</p>
		<p>Dance Company is for those students who love to perform!  When in company, the focus is on learning choreography, and performing outside of Tricks in the community.  Our dancers perform all over Placer, El dorado and Sacramento County.  In our 2014 season we hope to perform at Disneyland in April!  Company requires a large commitment from dancers as well as their families.  Company dancers are required to attend multiple Saturday rehearsals in addition to their regular company class.</p>
	</div>
	<div id="content_bottom">
		<h3>Commitment: September 2013 - June 2014</h3>
		<br>
		<p><b>Approximate Costs:</b>
		<ul>
			<li>$1150 for the entire season (includes monthly tuition)</li>
			<li>$250 Company Fee- This will be broken into four payments</li>
			<li>$100 Costume Fee</li>
			<li>$75 Uniform Fee</li>
			<li>$72 per month for tuition in company class- 1 1/2 hours per week</li>
			<li>$61</li>
		</ul>
		</p>
		<p><b>Planned Performances:</b>
		<ul>
			<li>Folsom Family Expo</li>
			<li>Senior Homes</li>
			<li>Party Guests in Nutcracker</li>
			<li>Making Spirits Bright Tricks Holiday Show</li>
			<li>Winter Company Showcase</li>
			<li>Disneyland ( possibility)</li>
			<li>Placer & El Dorado County Fairs</li>
		</ul>
		</p>
		<p><b>Auditions:</b> Late August 2013 - Studio Specific</p>
		<p><b>Who to contact for questions:</b> Kirsten Meyer - Tricks Dance Company Director
			<a href="mailto:ksmeyer@mac.com">
				ksmeyer@mac.com
			</a>
		</p>
	</div>
</div>
	