<% @title = "Tricks Dance Company: Auditions" %>
<%= stylesheet_link_tag "static/dance_company", :media => "all" %>

<% content_for :pagestyle do %>
  body {background-color: <%= @bgc_purple %>; font-size: 14px;}
  ul li {text-align: left;}
  h2 {margin-bottom: 5px; font-size: 24px; text-decoration:underline;}
  h3 {margin-top:0; margin-bottom: 5px;}
  p {text-align:center;}
  #location_container {height: 105px; border: solid 1px #777;margin: 15px 0px; padding: 10px 0px; border-radius: 5px;}
  #info_box {float:left; width: 228px; padding: 5px 15px;}
<% end %>

<div id="content">
	<h1>Auditions and Information</h1>
	<%= render 'side_menu' %>
	<div id="content_nexttomenu" style="width: 780px;">
		<div id="location_container" style="margin-top:0">
			<h2>Granite Bay</h2>
			<div id="info_box">
				<h3>Parent Informational Meeting</h3>
				<p>Monday, Aug 5th 6:30-7:30 pm</p>
			</div>
			<div id="info_box">
				<h3>Dance Team Auditions</h3>
				<p>Monday, Aug 12th 6:30-8:00 pm<br>
				(Must be 7 by January 2014)</p>
			</div>
			<div id="info_box">
				<h3>Performance Group Auditions</h3>
				<p>Monday, Aug 12th 5:00-6:00 pm<br>
				(Ages 6+)</p>
			</div>
		</div>
			 

		<div id="location_container">
			<h2>Folsom</h2>
			<div id="info_box">
				<h3>Parent Informational Meeting</h3>
				<p>Tuesday, Aug 6th 6:45-7:45 pm</p>
			</div>
			<div id="info_box">
				<h3>Dance Team Auditions</h3>
				<p>Wednesday, Aug 21th 6:30-8:00 pm<br>
				(Must be 7 by January 2014)</p>
			</div>
			<div id="info_box">
				<h3>Performance Group Auditions</h3>
				<p>Thursday, Aug 22th 6:30-7:30 pm<br>
				(Ages 6+)</p>
			</div>
		</div>
			 

		<div id="location_container">
			<h2>Sacramento</h2>
			<div id="info_box">
				<h3>Parent Informational Meeting</h3>
				<p>Wednesday, Aug 7th 7:30-8:30 pm</p>
			</div>
			<div id="info_box">
				<h3>Dance Team Auditions</h3>
				<p>Thursday, Aug 15th 6:30-8:00 pm<br>
				(Must be 7 by January 2014)</p>
			</div>
			<div id="info_box">
				<h3>Performance Group Auditions</h3>
				<p>Friday, Aug 16th 7:30-8:30 pm<br>
				(Ages 6+)</p>
			</div>
		</div>
	</div>
	<div id="content_bottom">
	</div>
</div>	