<% @title = "Tricks Dance Company: Auditions" %>
<%= stylesheet_link_tag "static/dance_company", :media => "all" %>

<% content_for :pagestyle do %>
  body {background-color: <%= @bgc_purple %>; font-size: 14px;}
  ul li {text-align: left;}
<% end %>

<div id="content">
	<%= render 'side_menu' %>
	<div id="content_nexttomenu">
		<br>
		<br>
		<h1 style="margin-left: -140px;">Still creating this page!<br>
		Please be patient :D</h1>		
	</div>
	<div id="content_bottom">
	</div>
</div>	