<% @title = "Tricks Dance Company: Gallery" %>
<%= stylesheet_link_tag "static/dance_company", "jquery.fancybox-buttons", "jquery.fancybox-thumbs", "jquery.fancybox", :media => "all" %>
<%= javascript_include_tag  "application" %>


<% content_for :pagestyle do %>
  body {background-color: <%= @bgc_purple %>; font-size: 14px;}
  ul li {text-align: left;}
<% end %>

<div id="content">
	
	<h1>Gallery</h1>

	<%= render 'side_menu' %>

	<div id="content_nexttomenu">
		<ul id="gallery">
			<li><a class="dc_gallery" href="/assets/dance_company/gallery/IMG_0552.jpeg"><img src="/assets/dance_company/gallery/thumbs/IMG_0552.jpg" /></a></li>
			<li><a class="dc_gallery" href="/assets/dance_company/gallery/IMG_0686.jpeg"><img src="/assets/dance_company/gallery/thumbs/IMG_0686.jpg" /></a></li>
			<li><a class="dc_gallery" href="/assets/dance_company/gallery/IMG_0688.jpeg"><img src="/assets/dance_company/gallery/thumbs/IMG_0688.jpg" /></a></li>
			<li><a class="dc_gallery" href="/assets/dance_company/gallery/IMG_0695.jpeg"><img src="/assets/dance_company/gallery/thumbs/IMG_0695.jpg" /></a></li>
			<li><a class="dc_gallery" href="/assets/dance_company/gallery/IMG_0701.jpeg"><img src="/assets/dance_company/gallery/thumbs/IMG_0701.jpg" /></a></li>
			<li><a class="dc_gallery" href="/assets/dance_company/gallery/IMG_0704.jpeg"><img src="/assets/dance_company/gallery/thumbs/IMG_0704.jpg" /></a></li>
			<li><a class="dc_gallery" href="/assets/dance_company/gallery/IMG_0709.jpeg"><img src="/assets/dance_company/gallery/thumbs/IMG_0709.jpg" /></a></li>
			<li><a class="dc_gallery" href="/assets/dance_company/gallery/IMG_0710.jpeg"><img src="/assets/dance_company/gallery/thumbs/IMG_0710.jpg" /></a></li>
			<li><a class="dc_gallery" href="/assets/dance_company/gallery/IMG_0711.jpeg"><img src="/assets/dance_company/gallery/thumbs/IMG_0711.jpg" /></a></li>
			<li><a class="dc_gallery" href="/assets/dance_company/gallery/IMG_0714.jpeg"><img src="/assets/dance_company/gallery/thumbs/IMG_0714.jpg" /></a></li>
			<li><a class="dc_gallery" href="/assets/dance_company/gallery/IMG_0715.jpeg"><img src="/assets/dance_company/gallery/thumbs/IMG_0715.jpg" /></a></li>
			<li><a class="dc_gallery" href="/assets/dance_company/gallery/IMG_1898.jpeg"><img src="/assets/dance_company/gallery/thumbs/IMG_1898.jpg" /></a></li>
			<li><a class="dc_gallery" href="/assets/dance_company/gallery/IMG_2304.jpeg"><img src="/assets/dance_company/gallery/thumbs/IMG_2304.jpg" /></a></li>
			<li><a class="dc_gallery" href="/assets/dance_company/gallery/IMG_2310.jpeg"><img src="/assets/dance_company/gallery/thumbs/IMG_2310.jpg" /></a></li>
			<li><a class="dc_gallery" href="/assets/dance_company/gallery/IMG_2312.jpeg"><img src="/assets/dance_company/gallery/thumbs/IMG_2312.jpg" /></a></li>
			<li><a class="dc_gallery" href="/assets/dance_company/gallery/IMG_2323.jpeg"><img src="/assets/dance_company/gallery/thumbs/IMG_2323.jpg" /></a></li>
			<li><a class="dc_gallery" href="/assets/dance_company/gallery/IMG_2324.jpeg"><img src="/assets/dance_company/gallery/thumbs/IMG_2324.jpg" /></a></li>
			<li><a class="dc_gallery" href="/assets/dance_company/gallery/IMG_2626.jpeg"><img src="/assets/dance_company/gallery/thumbs/IMG_2626.jpg" /></a></li>
			<li><a class="dc_gallery" href="/assets/dance_company/gallery/IMG_2632.jpeg"><img src="/assets/dance_company/gallery/thumbs/IMG_2632.jpg" /></a></li>
			<li><a class="dc_gallery" href="/assets/dance_company/gallery/IMG_2798.jpeg"><img src="/assets/dance_company/gallery/thumbs/IMG_2798.jpg" /></a></li>
			<li><a class="dc_gallery" href="/assets/dance_company/gallery/IMG_2799.jpeg"><img src="/assets/dance_company/gallery/thumbs/IMG_2799.jpg" /></a></li>
			<li><a class="dc_gallery" href="/assets/dance_company/gallery/IMG_3253.jpeg"><img src="/assets/dance_company/gallery/thumbs/IMG_3253.jpg" /></a></li>
			<li><a class="dc_gallery" href="/assets/dance_company/gallery/IMG_3255.jpeg"><img src="/assets/dance_company/gallery/thumbs/IMG_3255.jpg" /></a></li>
			<li><a class="dc_gallery" href="/assets/dance_company/gallery/IMG_3400.jpeg"><img src="/assets/dance_company/gallery/thumbs/IMG_3400.jpg" /></a></li>
			<li><a class="dc_gallery" href="/assets/dance_company/gallery/IMG_3403.jpeg"><img src="/assets/dance_company/gallery/thumbs/IMG_3403.jpg" /></a></li>
			<li><a class="dc_gallery" href="/assets/dance_company/gallery/IMG_3406.jpeg"><img src="/assets/dance_company/gallery/thumbs/IMG_3406.jpg" /></a></li>
			<li><a class="dc_gallery" href="/assets/dance_company/gallery/IMG_3407.jpeg"><img src="/assets/dance_company/gallery/thumbs/IMG_3407.jpg" /></a></li>
			<li><a class="dc_gallery" href="/assets/dance_company/gallery/IMG_3408.jpeg"><img src="/assets/dance_company/gallery/thumbs/IMG_3408.jpg" /></a></li>
		</ul>
	</div>
</div>	