<!DOCTYPE html>
<html>
<head>
</head>
<body style="color:#222; font-size:16px; font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;">
  <div>
    <h3>Thank you for your comment!</h3>

    <p><b>Comment:</b> <%= @comment.comment %></p>
  </div>
</body>
</html>