<div id="Quotes">
<% @kid_quote.each do |t| %>

		<div id="Random_Quote_Container">
			<div id="quoteheaderyellow"></div>
			<div id="quotebodyyellow">
				<div id="Quote">
					<%= t.quote %><br/>
				</div>
			</div>
			<div id="quotefooteryellow">
				<div>
					<h3 id="Name">-<%= t.name %> (Age <%= t.age %>)</h3>
				</div>
			</div>
		</div>
	
<% end %>
	

</div>
