@charset "utf-8";
/* CSS Document */



/*************************************
	* Global Settings *
*************************************/

*{
	margin: 0;
	padding: 0;
}

img{
	float:left;
	border:none;	
}

body{
	background-color: #222;	
}

h1{
	margin-bottom: 15px;
}

a{
	color:#CEAF00;	
}

#page{
		width: 1024px;
		color: #333;
		margin: 0 auto;
		height:auto;
		font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

#frame_top{
	background-image:url(_images/structure/frame_top.png);
	background-position: center;
	background-repeat:no-repeat;
	float:left;
	height: 30px;
	width: 1024px;
}

#frame_middle{
	background-image: url(_images/structure/frame_middle.png);
	background-position: center;
	background-repeat: repeat-y;
	float: left;
	width: 100%;
	font-family: Tahoma, Geneva, sans-serif;
}

#frame_footer{
	background-image: url(_images/structure/frame_footer.png);
	background-position: center;
	background-repeat: no-repeat;
	float: left;
	height: 22px;
	width: 100%;
}




/**************************************************************************/


#header{
}

#tensai_logo{
	margin-left: 347px;	
}

#blankspace{
	float: left;
	height: 50px;
	width: 100%;	
}

#content{
	float: left;
	margin: 10px 30px 10px 30px;
	width: 964px;
	min-height: 400px;
}

#content p{
	margin: 0px 0px 10px 0px;	
	text-align: justify;
}

#content #box{
	float: left;
	height: 300px;
	width: 50%;	
}

#content #box #image{
}

#content #box #text{
	float:left;
	width: 320px;
	margin: 15px 0px 0px 80px;
	line-height: 1.3;
}




























/***************************************************************************************************************
	* Menu
	***************************************************************************************************************/


#nav_menu {
	position: relative;
	background-image: url(_images/structure/menu_background.png);
	background-repeat: no-repeat;
	float: left;
	width: 1024px;
	height: 70px;
}

#menu_container{
}

#nav_menu a {
	font: 20px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #333;
	display: block;
	width: auto;
	text-decoration: none;
	font-weight: bold;
	line-height: 50px;
	margin-top: 10px;
	margin-left: 50px;
}

#submenu a {
	font: 15px "Trebuchet MS", Arial, Helvetica, sans-serif;
	text-align: center;
	color: #333;
	display: block;
	width: 120px;
	text-decoration: none;
	line-height: 30px;
	white-space: nowrap;
	margin-top: -3px;
	margin-left: 0px;
	
}

#nav_menu ul {
	list-style-type: none;
}

#nav_menu li {
	float: left;
	position: relative;
	text-align: center;
	width: auto;
	padding: 0px 25px 0px 25px;
	
}

/* Setting for the position of the hidden submenu box */
#nav_menu ul.submenu {
	display: none;
	position: absolute;
	top: 50px;
	padding: 3px;
	z-index: 90;
}

/* Helps make the submenu directly under the menu 
	Settings for the individual submenu boxes*/
#nav_menu ul.submenu li {
	background-color: #ddd;
	border: 1px solid #ddd;
	height: 30px;
	/* [disabled]padding: 0; */
}

/* Makes the submenus box visable on hover 
    Settings for the overall submenu box*/
#nav_menu li:hover ul.submenu {
	display: block;
	border: 2px solid #ddd;
	background-color: #333;
}



#nav_menu a:hover{
	background-image: url();
	background-size: 35px;
	background-repeat: no-repeat;
	background-position: center;
	backgroung-color: none;
	color: #eee;
	background-position-y:10px;
}

#submenu a:hover {
	/**
	background-image: url(../_images/structure/menu_hover_image.png);
	background-size: 20px;
	background-repeat: no-repeat;
	background-position: left;
	backgroung-color: none;
	background-position-y: 8px;
	background-position-x: 7px;
	**/
	white-space: nowrap;
	color: #333;
}
