<% given_title = "BFF Dance Parties" %>
<% given_bubbles = [3, 10] %>

<% if defined? given_title %>
  <% content_for :title do %>
    <%= given_title %>
  <% end %>
<% end %>

<% if defined? given_bubbles %>
  <% update_bubbles(given_bubbles) %>
<% end %>

    <!--<div>-->
    <!--  <%#= image_tag "/assets/site_header_images/parties_header.jpg", style:"margin-top: -120px;" %>-->
    <!--</div>-->
    
<div class="row" style="border: solid 3px #fa8aae; padding: 15px; border-radius: 3px;">
  <div class="columns large-12">
    <style>
      h1{
        color: #fa8aae;
      }
      h1 {
        font-size: 72px;
      }
      h4, h5{
        text-align: center;
      }
      .party-info-box{
        text-align: center; 
        border: solid 10px blue; 
        border-radius: 25px; 
        padding:10px;
        margin-bottom: 15px;
      }
      .yellow{
        border-color: #fcee21;
      }
      .green{
        border-color: #62c233;
      }
      .orange{
        border-color: #f78c17;
      }
      .pink{
        border-color: #ec2364;
      }
      #details{
        background-color: #fee180;
        border-radius: 30px;
        padding: 20px;
        text-align: center;
        box-sizing: border-box;
      }
    </style>

    <div class="row">
      <div class="columns small-12">
        <h1>BFF Dance Party!</h1>
        <h4 style="color: #fa8aae;">Bring a Friend Friday Dance Parties. Join us for 45 minutes of music, dancing, crafts and fun with friends!<br>Ages 3-5 (children must be potty-trained).</h4>
      <!--<h2 style="font-size: 26px; margin-top:25px;">Click on a Party Name for Details, Pricing, and Reservations</h2>-->
      </div>
    </div>
    
    <ul class="accordion" data-accordion data-allow-all-closed="true">
      <% @bff_dance_parties.each do |party| %>
        <%= render partial: 'show', locals: {party: party} %>
      <% end %>
    </ul>
    
    <div class="row">
      <div class="columns small-12">
        <h4 style="color: #23c4e2">Register early to guarantee your spot or just drop in! $10/pair</h4>
        <h3>Upcoming BFF party!</h3>
      </div>
    </div>
    
    <div class="row">
        <div class="columns small-12" id="details">
          <p>BFF Dance Parties will be held the last Friday of every month. Class times vary per studio. see below.</p>
          <ul style="list-style-position:inside; margin: 0;">
            <li>Granite Bay - 2:30-3:15pm</li>
            <li>Folsom - 2:30-3:15pm</li>
            <li>Sacramento - 2:45-3:30pm</li>
          </ul>
        </div>
    </div>
  </div>
</div>

<div class="reveal fast large" style="z-index: 1010" id="details_modal" data-reveal data-close-on-click="true" data-animation-in="scale-in-down" data-animation-out="scale-out-up" style="border-radius: 300px;">
  
</div>


