<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @recital_ad_type.name %>
</p>


<%= link_to 'Edit', edit_recital_ad_type_path(@recital_ad_type) %> |
<%= link_to 'Back', recital_ad_types_path %>
