<%= stylesheet_link_tag "home", :media => "all" %>

<h1 style="font-size: 40px;">Tricks App</h1>
<div align="center"><img src="assets/tricks-header.png" alt="Tricks Logo" width="227" height="150" /></div>
<br />
<br />
<br />
<br />
<br />
<h2><%= link_to "Comments", comments_path(@comments) %></h2>
<h2><%= "Funny Things Kids Say (Coming Soon!)" %></h2>
<h2><%= "Schedules (Coming Soon!)" %></h2>
<%#= link_to "Schedules", schedules_path(@schedules) %>

