#preview_header{
  border: dotted 2px #555;
  float: right;
  width: 400px;
  margin: 5px auto;
}

#image_show{
  float:right;
  width: 400px;
  height: 225px;
  margin: 5px auto;
  border: solid 2px #555;
  border-radius: 17px;
  overflow: hidden;
  z-index:3;
}

.promo_image {
  position: absolute;
  border-radius: 15px;
  overflow: hidden;
  width: 400px; 
  height: 225px;
  z-index: 2;
}

#html_inline_show{
  float:right;
  width: 400px;
  height: 225px;
  margin: 5px auto;
  border: solid 2px #222;
  border-radius: 15px;
  overflow: hidden;
}

#link_path_input{
  display:none;
  float: left;
}

#order_input{
  display:none;
  // float: left;
}