// Place all the styles related to the RecitalAds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#recital_ad_type_container{
  border: 1px solid #222;
  margin-bottom: 20px;
  text-align: center;
  padding: 15px;
  h3{
      font-size: 16px;
      font-weight: normal;
      line-height: 14px;
      padding: 3px;
      margin:0;
  }
}