.preview-box{
  /*width: 170px;*/
  // width: 220px;
  // min-height: 200px;
  // float: left;
  padding: 15px;
  /*margin: 15px;*/
}

.preview-box a img{
  // width: 100%;
  // height: 100%;
  border-radius: 5px;
  box-shadow: 0 0 10px #333;
}

.video-box{
  width: 853px;
  height: 480px;
  margin: 0 auto;
  border: solid 3px #222;
  box-shadow: 0 0 20px #333;
}

.tricksu-categories{
  margin-top: 30px;
  width: 20%;
  float: left;
}

.tricksu-category{
  width: 100%;
  height: 35px;
  font-size: 18px;
  text-align: center;
  border: solid #333 1px;
  border-radius: 5px;
  margin: 0 0 5px 0;
  background-color: #223D99;
  a{color: #fff;}
}

.video-category-button{  
  text-decoration: none;
  width: 100%;
  line-height: 35px;
  vertical-align: center;
  display: block;
}

#tab-active{  
  background-color: #4A6AD9;
  box-shadow: 0 0 10px #222;
  /*background-image: url(/assets/structure/tab-color-selected.png);*/
}

.tricksu-videos{
  width: 78%;
  /*border: solid 1px blue;*/
  float: right;
}