<div class="columns large-3 medium-4 small-12" id="applicant_container">
    <%= link_to app.firstname+" "+app.lastname, employment_application_path(app), id: "applicant-name" %>
    <div class="applicant_image_frame">
        <%= link_to image_tag(app.image_url), employment_application_path(app) %>
    </div>
</div>


