<style>
  #changes_box{
    margin-left: 20px;
    padding: 0px 20px;
    padding-bottom: 10px;
    border: solid 2px #555;
    width: 700px;
  }

  #changes_box li {
    margin-left: 30px;
  }

  #changes_box h2{
    text-align: left;
    font-size: 20px;
    text-decoration: underline;
    margin: 7px 0px;
  }

</style>

<h1>Tricks Web Application</h1>

<div id="changes_box">
  <ul style="line-height: 26px;">
    <h2>Recent Changes</h2>
    <li>Formatted the Dance Schedules.</li>
    <li>Added page for Promo Slides for easily updating the Promobox on home page.</li>
    <li>Added a page for Princess Parties under the Events Tab.</li>
    <li>The Layout for the Web Application has had a complete overhaul. I hope you like it.</li>
  </ul>
</div>