
<% content_for :no_margin_footer do %>
  true
<% end %>

<% @title = "Tricks Birthday Parties" %>

<% content_for :pagestyle do %>
  body {background-color: <%= @bgc_green %>;}
<% end %>

<img style="width: 100%; margin-bottom: -150px;" src="/assets/events/BdayPartyGym.jpg" alt="Birthday Parties" />
<!-------------------
<div class="content" style="margin: 0px 0px 0px 0px; width: 1024px;">
  <div style="float: left; margin-top: 20px; width: 263px;">
    <div style="float: left; text-align: center; margin: 20px 0px 40px 0px;">
      <h2 style="color: #ec1e79; margin-bottom: 20px;">Call us to reserve a space! Availability is limited!</h2>
      <h3>Folsom: (916) 351-0024</h3>
      <h3>Granite Bay: (916) 791-4496</h3>
      <h3>Sacramento: (916) 481-4496</h3>
    </div>
    <img src="/assets/structure/birthdaygirl.jpg" width="263" height="1099" alt="Birthday" />
  </div>
  <div style="float:left; width:430px; margin-left: 25px;">
    <div>
      <h1>Parties at TRICKS!</h1>
      <p>Tricks is dedicated to providing A fun-filled party that will be remembered for the rest of the year! Our birthday parties are available for children 3 years old to 11 years old. We host 6 parties every Saturday afternoon and availability is limited, so sign up today!</p>
      <p>We will handle all of the entertainment, decorations, excitement, music, set-up, serving, and clean-up!</p>
      <p>Birthday guests enjoy a full hour of jumping, laughing, games, music, bouncing in our giant inflatable bounce house, and swinging in our special triple pendulum swing</p>
      <h3 style="text-align: center; margin-bottom: 10px">You relax, enjoy the party, and take the pictures!</h3>
      <h2>All parties include:</h2>
      <ul style="margin: -7px 0px 0px -10px; text-align: justify">
        <li>15 Invitations for guests</li>
        <li>Decorations and Paper Products (tablecloths, plates, napkins, utensils)</li>
        <li>Balloons for each party guest!</li>
        <li>45 minutes are reserved in the party room for traditional goodies and gifts</li>
        <li>One High Energy Party Coach and One Coordinator for party room set up and clean up</li>
        <li>List of gifts and who they are from</li>
      </ul>
    </div>
    <div style="margin-top: 20px">
      <p><b>Days:</b> Saturday<br>
        <b>Times:</b> 1:00, 2:00, 3:00, 4:00, 5:00, and 6:00 pm<br>
        <b>Duration:</b> 1 Hour 45 Minutes<br>
        <b>Ages:</b> 3 to 11 years old!<br>
        <b>Price:</b> $185 (if currently enrolled)<br>
        <b style="color: #fff">Price:</b> $200 (if not currently enrolled)<br>
        <b>How many kids can I invite:</b> Up to 15 children; $10 per child over 15 (18 max)</p>
    </div>
    <h2 align="center" style="color: #ec1e79; font-size: 18px; margin-bottom: 20px;">Come and see your children smile UPSIDE DOWN! </h2>
    
    <div>
      <h2>FAQ's</h2>
      <h3>What about food and drinks?</h3>
      The food and drinks are left to your discretion, except in Folsom. Folsom allows only water (and food).  Please keep all food and drinks in the party room and off the gym or dance floor. No alcohol on the premises, please!
      <h3>Do you supply the decorations? Can I bring my own?</h3>
      The party room is decorated with birthday decorations and balloons. with no particular theme (ie, Aladdin or Barbie). If your child wants something specific, you may bring it in before the party begins and we will do our best to accomodate.
      <h3>Do I need to bring anything?</h3>
      You will need to supply the following, if desired: snacks/treats, party favors, candles, and a knife to cut the cake. For safety reasons please do not incorporate pinatas in your party.<br><br>
    </div>
    <div>
      <h2>Cancellation Policy</h2>
      <p>Full Refund: If party is cancelled more that 3 weeks from party date. Partial Refund: $100.00 is refunded if party is cancelled within 3 weeks. Cancellations <b>cannot</b> be made online, please call the gym where you scheduled your party if you need to cancel your reservation. (Phone numbers located at the top of the page)</p>
    </div>
  </div>
  ------------------------->
  
  <!-- Calendar buttons
  <div align="center" style="float: right; width: 250px; margin: 20px 35px 20px 0px">
      <br>
      <a href="http://app.jackrabbitclass.com/eventcalendar.asp?orgid=313983&loc=fol&cat1=events" target="new">
        <img src="/assets/structure/parties_folsom_button.png" width="250" height="100" alt="Folsom Parties Calendar" />
      </a>
      <br>
      <br>
      <a href="http://app.jackrabbitclass.com/eventcalendar.asp?orgid=313983&loc=gb&cat1=events" target="new">
        <img src="/assets/structure/parties_granitebay_button.png" width="250" height="100" alt="Granite Bay Parties Calendar" />
      </a>
      <br>
      <br>
      <a href="http://app.jackrabbitclass.com/eventcalendar.asp?orgid=313983&loc=sac&cat1=events" target="new">
        <img  src="/assets/structure/parties_sacramento_button.png" width="250" height="100" alt="Sacramento Parties Calendar" />
      </a>
      <br>
      <br>
    </div>
    -->
  


  <!--------------
  <div style="float: right; margin-right: 55px; margin-top: 40px;">
    <img src="/assets/structure/birthdayside.jpg" width="222" height="638" alt="Swing Bounce House Party" />
  </div>
  <div style="float: right; margin: 40px 100px 0px 0px">
    <img src="/assets/structure/5star2.jpg" alt="5 Star Rating" width="120" height="117" /></div>
</div>
-------->