<% @title = "Tricks Camps" %>
<% content_for :pagestyle do %>
  body {background-color: <%= @bgc_green %>;}
  #infobox {float: left; margin-left: 19px; margin-bottom: 25px; width: 670px; text-align: justify;}
<% end %>

<div class="content">
      <h1>Camps!</h1>
      <!--<div style="float: left; text-align: left; width: 170px; margin-left: 10px; margin-top: -20px; padding: 5px; border: solid 2px #444;">
        <h2>We  offer:</h2>
        <p>Camps Age 3 - 12<br>
          (12:00pm - 3:00pm)
        
        <h2>Pricing:</h2>
        <p>One Day Price: <br>
          Individuals $30.00<br>
          Siblings $25.00</p>
        <p>Full Week Price: <br>
          Individuals $125.00<br>
          Siblings $115.00 </p>
      </div>-->
      
      <!--
      <div style="float:right; width: 195px; margin-top: -20px">
        <img src="/assets/structure/campsside.png" width="195" height="409" alt="Camps" />      
      </div>
      -->
      

<!--       <div id="infobox" style="width: 820px; margin: 10px auto; float: none;">
        <p style="font-size: 15px">TRICKS hosts special camps throughout the year. Camps are themed, week-long camps (or daily drop-in, based on availability) that keep kids entertained during holiday, spring and summer breaks. Ages 3 &amp; up (Must be potty trained).</p>
        
      </div>
      
      <div style="width: 70%; margin: 0 auto; float: none; height: 40px;">
        <div style="width: 33%; float: left; text-align: center;">
          <h1 style="font-size: 30px;"><a style="color: <%= @bgc_blue %>;" href="#gb_camps">Granite Bay</a></h1>
        </div>
        <div style="width: 34%; float: left; text-align: center;">
          <h1 style="font-size: 30px;"><a style="color: <%= @bgc_blue %>;" href="#fol_camps">Folsom</a></h1>
        </div>          
        <div style="width: 33%; float: left; text-align: center;">
          <h1 style="font-size: 30px;"><a style="color: <%= @bgc_blue %>;" href="#fol_camps">Sacramento</a></h1>
        </div>
      </div>
      -->
      <div id="infobox" style="float: none; width: 878px; margin: 30px auto;">
      <!-- <h2 style="text-align:center; margin-top: 100px;"> Unfortunately there are currently no camps available. </h2>-->
        <img style="margin:0; padding:0" src="/assets/events/camps/holidaycamps2015.png" width="878" alt="Holiday Camps 2015" />
      </div>
<!--       <br>
      <br>
      <br>
      <br>
      <br>
      <h1 style="text-align:center">Coming Soon!</h1>

      <br>
      <br>
      <br>
      <br>

      <br>
      <br> -->
        
      
      
    </div>