<% @title = "Tricks Campus" %>
<% content_for :pagestyle do %>
  body {background-color: <%= @bgc_orange %>;}
  h3{margin: 10px 0px 0px 0px;}
<% end %>
<% content_for :no_margin_footer do %>
  true
<% end %>

<div id="content">
 <!--  <h1 style="margin-bottom: 0">CampUs<sup style="font-size: 20px">®</sup></h1>
  <h2 style="text-align: center; margin: -10px 0px 20px 0px">(Ages 3-5)</h2>
  <div style="float:left; padding-top: 80px">
    <img src="/assets/logos/campus-small.png" style="margin-left: 25px;"><br>
    <img src="/assets/structure/campusgirl.png" style="margin: 150px 0px 0px 0px">
  </div>
  <div style="float:left; width:400px; margin-left: -50px; text-align: justify">
    CampUs is a kindergarten readiness program where we approach learning through movement, music, language, imagination, and art in a nurturing and positive environment. Our giant gym is the ultimate playground for recess. We know that moving the body is paramount to brain developement.<br>
    At CampUs, we help prepare children for Kindergarten in a fun and exciting environment. We work on readiness concepts such as basic phonics sounds, letter recognition, word play, rhyming, opposites, counting, simple math terms, matching, and patterning. In addition, we also work with manipulatives (such as play dough and puzzles), we practice our fine motor and gross motor skills, and we implement sign language into our daily activities.<br>
    Our school year runs from late August-May and has a 6:1 Student/ Teacher ratio. CampUs is located in the Granite Bay gym only.<br>
    <h3>Butterfly Class (Ages 3-4)</h3>
    Tuesday/Thursday<br>
    8:45 AM - 11:45 AM <br>
    <h3>Beaver Class (Ages 4-5)</h3>
    Monday/Wednesday/Friday<br>
    8:45 AM - 11:45 AM <br>
    <h3>Campus Director</h3>
    Miss Michele<br>
    (916) 791-4496<br>
    <h3>Tuition</h3>
    Butterfly Class: $250 per month<br>
    Beaver Class: $350 per month<br>
    $50 materials fee per school year<br>
  </div>
  <div style="float:right; margin-left: -20px">
    <img src="/assets/structure/campusside.png">
  </div> -->
  <div id="infobox" style="float: none; width: 878px; margin: 0px auto;">
  <!-- <h2 style="text-align:center; margin-top: 100px;"> Unfortunately there are currently no camps available. </h2>-->
    <img style="margin:0; padding:0" src="/assets/CampusFlier.jpg" width="878" alt="CampUs" />
  </div>
</div>