<% @title = "Tricks Camps" %>

<div class="row">
  <div class="columns">
      <h1>Camps!</h1>
      
      

      <!-- <h2 style="text-align:center; margin-top: 100px;"> Unfortunately there are currently no camps available. </h2>-->
        <div style="text-align: center;">
          <p>At our camps your child will be in a fun, safe environment with energetic<br>
              coaches and well thought out lesson plans! Camps include obstacle courses,<br>
              a bounce house, a craft, relay games, a healthy snack and so much more!<br>
              Come make friends and memories that will last a lifetime!</p>
         
          <h4>Sign up by 3/19 for $5.00 off!</h4>
          
          <p>Individual price $35.00/ Sibling $30.00<br>
          *Price is for Morning OR Afternoon Camp*</p>
          <p>Individual all day price $65.00/ Sibling $55.00<br>
          *All Day price includes Pizza Lunch*</p>
         
         
          <h4>Call your gym to reserve your spot today!</h4>
          <br>
          <%= image_tag("events/camps/SummerCampFlyer2016.jpg") %>
        </div>
      </div>
      
</div>