<% @title = "Tricks Camps" %>
<% content_for :pagestyle do %>
  body {background-color: <%= @bgc_green %>;}
  #infobox {float: left; margin-left: 19px; margin-bottom: 25px; width: 670px; text-align: justify;}
<% end %>

<div class="content">
      <h1>Camps!</h1>
      <div id="infobox" style="float: none; width: 878px; margin: 30px auto;">
        <!-- <h2 style="text-align:center; margin-top: 100px;"> Unfortunately there are currently no camps available. </h2>-->

        <p style="text-align: center;">At our camps your child will be in a fun, safe environment with energetic<br>
            coaches and well thought out lesson plans! Camps include obstacle courses,<br>
            a bounce house, a craft, relay games, a healthy snack and so much more!<br>
            Come make friends and memories that will last a lifetime!</p>
       
        <h4>Sign up by 3/19 for $5.00 off!</h4>
        
        <p style="text-align: center;">Individual price $35.00/ Sibling $30.00<br>
        *Price is for Morning OR Afternoon Camp*</p>
        <p style="text-align: center;">Individual all day price $65.00/ Sibling $55.00<br>
        *All Day price includes Pizza Lunch*</p>
       
       
        <h4>Call your gym to reserve your spot today!</h4>
        <br>

        <img style="margin:0; padding:0" src="/assets/events/camps/spring_camps_2016.png" width="878" alt="Spring Camps 2016" />
      </div>
    </div>