<% @title = "Tricks Competitive Gymnastics" %>
<% content_for :pagestyle do %>
  body {background-color: <%= @bgc_yellow %>;}
<% end %>

<div class="row align-center">
  <div class="columns medium-3 hide-for-small-only">
    <img src="/assets/logos/propag.jpg" width="227" height="189" alt="Tumblebunny" /><br>
    <br>
    <!--
    <h3>
      <%#= link_to "Granite Bay Schedule", schedules_gb_gym_path, :style => "color:#223d99;" %>
    </h3>
    <h3>
      <%#= link_to "Folsom Schedule", schedules_fol_gym_path, :style => "color:#ec1e79;" %>
    </h3>
    <h3>
      <%#= link_to "Sacramento Schedule", schedules_sac_gym_path, :style => "color:#79c843;" %>
    </h3>
    -->
  </div>
  <div class="columns medium-6 small-11">
    <h1>Artistic Gymnastics</h1>
    <p>Artistic gymnastics is what you see on TV during the Olympics.  Gymnasts compete on vault, uneven bars, balance beam and floor ex.  Boys compete on vault, high bar, parallel bars, rings, pommel horse and floor ex. We offer two ways to compete in artistic gymnastics:</p>
    <h3>In House Competitive Program</h3>
    <p>3 times per year we run sessions that culminate in a meet with the all 3 TRICKS participating and held in one of our gyms.  This is a GREAT way for a child to decide if competing is something they LOVE! All participants receive a medal, goodie bag, t-shirt and 2 free tickets to the meet for parents. We also award trophies to the top 3 all around athletes in each level. All levels age 6 and up can participate. Advance 4 and 5 year olds can also join.  It's VERY fun and a real taste of competing. Judges and all! <span style="font-weight:bold; font-style:italic;">3 hour a week commitment for the 4 month session.</span></p>
    <h3>USAG Competitive Gymnastics</h3>
    <p>We train year around and then compete in the fall with other gyms from our area. The furthest we travel is the Bay Area.  TRICKS teams always do well competing in the region.  We have coaches that understand the big picture. They do an excellent job training the gymnasts. This program is by invitation only.</p>
    <h3 style="text-align:center">Level 4&nbsp;&nbsp;&nbsp;&nbsp;6 hour a week commitment</h3>
    <h3 style="text-align:center">Level 5&nbsp;&nbsp;&nbsp;&nbsp;9 hour a week commitment</h3>
    <h3 style="text-align:center">Level 6&nbsp;&nbsp;&nbsp;&nbsp;9 hour a week commitment</h3>
    
  </div>
  <div class="columns medium-3 hide-for-small-only">
    <p>
      <img src="/assets/structure/compgymside.png" width="245" height="296" alt="Gymnastics Teams" /><br>
    </p>
  </div>
<!--   <div id="infobox">
    <div id="gymnastics_sidelogos" style="margin-top:0px;">
      <img src="/assets/logos/compgym.jpg" width="256" height="101" alt="Competitive" />
    </div>
    <h2>Competitive Gymnastics (Ages 6 and up)</h2>
    <p>At Tricks Gymnastics, we offer two types of competitive gymnastics, Artistic Gymnastics and Team Gymnastics.</p>
    <br>
    <p>In Artistic Gymnastics each member of the team performs individually with an individual score on each event but give support to each other as a team. At Tricks we have girls competitive teams ranging from Level 4 up to Level 6. These girls compete on Vault, Bars, Beam, and Floor.</p>
    <br>
    <p>Team Gymnastics gives athletes a chance to compete as a group. The Team will compete on two events: Jump - This consists of tumbling, vaulting and mini tramp passes. And Floor - A routine will be put together to include dance elements, partner holds, balances, and acro skills. Students will have the fantastic experience of competing in gymnastics without the major time commitment that usually comes with Artistic Gymnastics. We have had some amazing competitions and traveled to some awesome locations such as Las Vegas, New York, and Disneyland! </p>
    <br>
    <div style="text-align: center;">
      <%#= link_to "Click here to learn more about Competitive Gymnastics.", competitive_path, :style => "color:#000; text-decoration:underline;text-align: center;" %>
    </div>
    <br>
  </div> -->
</div>