<% content_for :title do %>
	<%= "Tricks - Competitive" %>
  <% end %>

<% @title = "Tricks Competitive Gymnastics" %>

<div class="row align-center">
  <div class="columns large-6 small-12">
    <h1>TeamGym</h1>
    <p>TRICKS is one of the strongest teams in the nation representing TeamGym. Gymnasts compete in a group in two events; Floor ex and Jump. The Jump routine consists of tumbling, vault and mini tramp.</p>
		<p>TeamGym is an exciting genre of gymnastics!  These teams have competed in New York, Texas, So Cal, Las Vegas and have even participated in World Gymnastrada in Spain.</p>
		<p>Most meets are local.  We travel to one away meet plus Nationals for qualifying teams.</p>
		<p>All levels of athletes can participate. The season starts in July and ends in June. Try outs are the end of June.</p>
  </div>
  <div class="columns large-6 small-12">
    <div class="columns small-3">
    </div>
    <h1>Artistic Gymnastics</h1>
    
    <p>Artistic gymnastics is what you see on TV during the Olympics.  Gymnasts compete on vault, uneven bars, balance beam and floor ex.  Boys compete on vault, high bar, parallel bars, rings, pommel horse and floor ex. We offer two ways to compete in artistic gymnastics:</p>
    <h3>In House Competitive Program</h3>
    <img style="float: left; width: 25%;" src="/assets/logos/propag.jpg" width="227" height="189" alt="Tumblebunny" />
    <p>3 times per year we run sessions that culminate in a meet with the all 3 TRICKS participating and held in one of our gyms.  This is a GREAT way for a child to decide if competing is something they LOVE! All participants receive a medal, goodie bag, t-shirt and 2 free tickets to the meet for parents. We also award trophies to the top 3 all around athletes in each level. All levels age 6 and up can participate. Advance 4 and 5 year olds can also join.  It's VERY fun and a real taste of competing. Judges and all! <span style="font-weight:bold; font-style:italic;">3 hour a week commitment for the 4 month session.</span></p>
    <h3>USAG Competitive Gymnastics</h3>
    <p>We train year around and then compete in the fall with other gyms from our area. The furthest we travel is the Bay Area.  TRICKS teams always do well competing in the region.  We have coaches that understand the big picture. They do an excellent job training the gymnasts. This program is by invitation only.</p>
    <h5 style="text-align:center">Level 2&nbsp;&nbsp;&nbsp;&nbsp;2 days a week, 3 hours and 45 minutes</h5>
    <h5 style="text-align:center">Level 3&nbsp;&nbsp;&nbsp;&nbsp;2 days a week, 6 hours a week commitment</h5>
    <h5 style="text-align:center">Level 4&nbsp;&nbsp;&nbsp;&nbsp;3 days a week, 9 hours a week commitment</h5>
    <h5 style="text-align:center">Level 6&nbsp;&nbsp;&nbsp;&nbsp;3 days a week, 9 hours a week commitment</h5>
  </div>
</div>