<div class="row align-center">
    <div class="columns small-11 large-10">
        <p>Dear TRICKS Families,</p>

        <p>We apologize for multiple messages concerning the Coronavirus. After further consultation and review, we have made the decision to <b>suspend all classes immediately.</b></p>

        <p>As community partners, your safety and the wellness of the students and our staff is our highest priority. After reviewing the executive order from Governor Newsom and the updated policy issued by the California Department of Public Health, this is the right course of action. These are interesting times, to say the least. We definitely want to act with an abundance of caution.</p>

        <p>As we stated before, this is a fluid situation and it has been determined that this is the most responsible step to take. We appreciate your patience with us. We are confident that we will all get through this and that we will return to a normal class schedule soon.</p>

        <p>Enrollment in classes will not change. We will keep you posted as to when classes will resume. You will not be charged for missed classes. No make-ups will be necessary. All unused tuition for Session 3 will be applied to the future session, when classes resume. We anticipate that to be April 1st. We will notify you when it becomes more certain.</p>

        <p>If you have a scheduled Birthday party, our Events Team will be contacting you directly. The <b>March Kids Night Out is cancelled.</b></p>

        <p>Again, our sincerest apologies. We look forward to seeing you soon, and we'll keep in touch. Let's stay healthy by following the suggested protocols by our healthcare professionals.</p>

        <p>Warm regards,</p>

        <p>Vern & Barbara Jo Taylor<br>Owners</p>
    </div>
</div>