<div class="row align-center">  
    <div class="columns small-11 large-10">
        <h5>How To Contact Us</h5>
        <p>Since we are not at the gym we can't check voicemails at this time. If you need to reach us please send an email to your gym.</p>
        <p>Granite Bay: <a href="mailto:tricksgb@gmail.com?subject=Email from Website">tricksgb@gmail.com</a> <br>
        Folsom: <a href="mailto:tricksfol@gmail.com?subject=Email from Website">tricksfol@gmail.com</a><br>
        Sacramento: <a href="mailto:trickssac@gmail.com?subject=Email from Website">trickssac@gmail.com</a></p>
    </div>

    <div class="columns small-11 large-10">
        <p style="margin-top: 20px;">Dear TRICKS Families,</p>

        <p>Per our commitment to stay in touch and keep you informed, we want to send a quick update as to our situation. First of all, we want to let you know that we love you and miss seeing you in the gym, dance room, TAG area and pool. When we visit each facility, to clean or work on a project, we are saddened by the silence.</p>

        <p>We wish we could choose an absolute date to resume classes, but with things as fluid as they are, it is not possible at this time to know exactly when this health crisis will be over. Rest assured that as soon as we get the GREEN light, we will immediately notify you as to when that date will be. <b>At present, we are hoping for near the end of Summer 2020, along with several of the school districts.</b></p>

        <p>As you can imagine, this is causing all kinds of problems with our planned Summer Dance Recital. Things will continue to get pushed back and we will adapt to whatever the situation is when dance rehearsals are able to start.</p>

        <p>Again, we look forward to seeing you soon, and we'll continue to keep in touch. Let's stay healthy by following the suggested protocols by our healthcare professionals and practice social distancing.</p>

        <p>Smile and be kind out there,</p>

        <p>Vern & Barbara Jo Taylor<br>Owners</p>
    </div>
  
</div>


    
