<% @title = "Tricks Dance" %>
<% content_for :pagestyle do %>
  body {background-color: <%= @bgc_pink %>;}
<% end %>

<div class="content">
  <div style="float: right; margin-right: 5px; margin-top: 30px;"> <img src="/assets/structure/danceside.jpg" width="268" height="1308" alt="Gymnastics Teams"> </div>
  <div id="infobox">
    <div id="dance_sidelogos" style="height: 480px;">
      <p><img style="margin-top: 50px; "src="/assets/logos/danceblack.jpg" width="246" height="172" alt="Dance Studio" /> <br>
      <h2>Class Schedules & Pricing:</h2>
      <h2><%= link_to "Granite Bay", schedules_gb_dance_path, style: "color:#223d99;" %></h2>
      <h2><%= link_to "Folsom", schedules_fol_dance_path, style: "color:#ec1e79;" %></h2>
      <h2><%= link_to "Sacramento", schedules_sac_dance_path, style: "color:#79c843;" %></h2>
    </div>
    <h2>A little about us.</h2>
    <p>Our goal is to instill a love for the art of dance that will remain with our students long after their recital days are over. We provide professional dance training while ensuring our students have a positive dance experience.</p>
    <p>Every class includes dance technique, expressive movement, musical and rhythmic awareness and life skills all while building artistic confidence and strong self esteem.</p>
    <h3>Class Structure</h3>
    <p>Each week new dance steps are introduced in a fun way based on ideas which correspond with our theme weeks. Take home skill posters will help the dancer chart their progress. Once a month we encourage parents to come in and be our audience for the last few minutes of class.</p>
    <h3>Performances</h3>
    <p>Our dancers may participate in two performances a year. These shows are held in an off-site auditorium so dancers can experience what it's like to perform on a big stage. In December we perform our adorable version of the Nutcracker Ballet, &quot;The Littlest Nutcracker&quot; and in the summer hold our annual Grand Performance.</p>
  </div>
  <div id="infobox">
    <div id="dance_sidelogos" style="margin-top:-10px;"> <img src="/assets/logos/tbdance.jpg" width="222" height="178" alt="Tumblebunny" /> </div>
    <h2>Bunny Ballet Program (Ages 2-6)</h2>
    <h3>Tiny Tutu</h3>
    <h3>Fairytale Ballet</h3>
    <p>This 45 minute class is designed for our 3 year old dancers. Our young dancers love exploring the magic of movement in this fun and imaginative class. Focusing on pre-ballet and creative movement, we use our storybook chest full of costumes and wondrous surprises!!!</p>
    <h3>Combo Class</h3>
    <p>This 45 minute class is designed for the more energetic 3 year old dancers. While learning pre-ballet, pre-tap, and basic tumbling, our dancers will explore movement, rhythm and sequencing in this fun, fast paced class.</p>
    <h3>Bunny Ballet / Tap Class</h3>
    <p>This 45 minute class is for 4-5 year old dancers who are ready for a little more class structure and movement. Fundamentals of pre-ballet and beginning tap are taught while using imagination and fun props that correspond with our theme weeks.</p>
    <h3>Bunny Ballet (Beginning & Intermediate)</h3>
    <p></p>
    <h3>Hippity Hop / Pre-Jazz (Beginning & Intermediate)</h3>
    <p></p>
    <h3>Bunny Tap (Beginning & Intermediate)</h3>
    <p></p>
    <h3>Bunny Ballet / Tap / Pre-Jazz</h3>
    <p></p>
  </div>
  <div id="infobox">
    <div id="dance_sidelogos"> <img src="/assets/logos/lovedance.jpg" width="190" height="176" alt="Tumblebunny" /> </div>
    <h2>School Age Dancers (Ages 6-8)</h2>
    <!-- <h3>Ballet/Tap Class</h3>
    <p>This 60 minute class is designed for our school aged dancers. We have beginning, intermediate and advanced classes for each age group. After the age of six our dancers graduate from pre-ballet to beginning ballet. Dancers focus more on dance technique and body alignment while also learning new tap steps each week.</p> -->
    <h3>Ballet / Tap / Jazz Class</h3>
    <p>This 60 minute class combines three fantastic dance styles into one terrific class! Our dancers will be learning the graceful art of ballet, the rhythmic sounds of tap and have some funky fun with jazz!</p>
    <h3>Ballet (Beginning, Intermediate & Advanced)</h3>
    <p></p>
    <h3>Hip Hop Class / Jazz (Beginning, Intermediate & Advanced)</h3>
    <p>This fun, fast paced 60 minute class includes all of the latest dance technique. We include a combination of traditional jazz and more contemporary hip-hop moves. Our teachers use music that has clean lyrics and content while still keeping up with the latest trends in music.</p>
    <!-- <h3>Breakdance Class</h3>
    <p>Find your funk with this fun, energetic 60 minute class! Dancers will learn the basic moves of breakdance while having a great time. Age appropriate, "clean" music has been chosen for this class while "keepin' it real" for the kids!</p> -->
    <h3>Tap (Beginning, Intermediate & Advanced)</h3>
    <p></p>
    <h3>Musical Theater</h3>
    <p></p>
  </div>


  <div id="infobox">
    <div id="dance_sidelogos" style="width: 300px;"> <img src="/assets/logos/tds3.png" width="249" height="122" alt="Tricks Dance Studio" /> </div>
    <h2>School Age Dancers (Ages 8-18)</h2>
    <h3>Ballet (Beginning, Intermediate & Advanced)</h3>
    <p></p>
    <h3>Hip Hop Class / Jazz (Beginning, Intermediate & Advanced)</h3>
    <p></p>
    <h3>Tap (Beginning, Intermediate & Advanced)</h3>
    <p></p>
  </div>


  <div id="infobox">    
    <h2>Production classes (Ages 6 and up)</h2>
    <p>Does your dancer want a little more time in front of an audience? This is the perfect opportunity for them to get that experience. Dancers will get the opportunity to perform at many different events. Dancers must be currently enrolled in another regular dance class. Production classes open up throughout the year, call the office for details.</p>
  </div>
</div>