<% 
  given_locals = {
    given_title: "Tricks Dance",
    given_header_image: "",
    given_bubbles: [204,2,4],
    given_description: '
      <p>Our goal is to instill a love for the art of dance that will remain with our students long after their recital days are over. We provide professional dance training while ensuring our students have a positive dance experience.</p>
      <p>Every class includes dance technique, expressive movement, musical and rhythmic awareness and life skills all while building artistic confidence and strong self esteem.</p>'.html_safe,
    given_levels: @dance,
    given_color: @bgc_purple
  } 
%>

<%= render partial: 'classtype_page', locals: given_locals %>