<% @title = "Tricks Dance Camps" %>
<% content_for :pagestyle do %>
  body {background-color: <%= @bgc_pink %>;}
<% end %>

<div id="content" style="text-align: center;">
  <img src="/assets/structure/dancecamps.jpg" width="850" height="715" alt="Summer Camps" />
</div>