<% @title = "Tricks Date Nights" %>
<% content_for :pagestyle do %>
  body {background-color: <%= @bgc_green %>;}
  p{font-size: 14px;}
<% end %>

<div class="content">
  <h1>Date Nights</h1>
  <div style="float:left; width: 250px; margin-left: 20px; padding: 4px; border:solid 2px #333;">
    <div>
      <div style="float: left; padding: 0px 10px; ">
        <h3 style="margin-top: 0px; ">Time:</h3>
        <p>6:45pm-9:45pm</p>
      </div>
      <div style="float: right; padding: 0px 10px;">
        <h3 style="margin-top: 0px;">Price:</h3>
        <p>$22 for first child<br>
          $20 for siblings</p>
      </div>
    </div>
    <div style="margin-bottom: 25px; float: left;">
      <h2>2013 Date Night Schedule:</h2>
              
      <h3 style="text-decoration: underline">Bugs Date Nite</h3>
      <p><i>Butterflies to make, worms and dirt to eat and army ants marching along...</i><br>
        Sacramento - April 19th<br>
        Granite Bay - April 19th<br>
        Folsom - April 20th</p>
        
      <h3 style="text-decoration: underline">Mother's Night Out</h3>
      <p><i>This is one of our most popular date nites because it's the weekend of Mother's Day. Go out and pamper yourself Mom, we'll take care of the kids.</i><br>
        Sacramento - May 10th<br>
        Granite Bay - May 10th<br>
        Folsom - May 11th</p>
        
      <h3 style="text-decoration: underline">Super Hero Date Nite</h3>
      <p><i>Who is your favorite Super Hero?  We are sure to know their moves and we'll all save the world together!</i><br>
        Sacramento - June 14th<br>
        Granite Bay - June 14th<br>
        Folsom - June 15th</p>
        
      <h3 style="text-decoration: underline">Beach Date Nite</h3>
      <p><i>Surfs Up!  We're going in!  Surf boarding, shark watching, dive with the dolphins, hang out on the beach.  It's all good.</i><br>
        Sacramento - July 19th<br>
        Granite Bay - July 19th<br>
        Folsom - July 20th</p>
    </div>
  </div>
  <div id="infobox">
    <p style="font-size: 16px;">Need a night for you and your spouse? We offer Date Nights once a month to give you parents a well deserved break, with the comfort of knowing your children are in good hands. All Date Nights include time for play on the gym floor, games, craft, snack and loads of fun! Ages 3 &amp; up. (Please be aware that prices have changed for 2013)</p>
  </div>
  <div style="width: 100%; margin: 0 auto; text-align: center;">
    <h2>Upcoming Date Night!</h2>
    <img style="border:5px solid #444;" src="/assets/events/datenights/green_2013.jpg" width="620" height="346" alt="Green Date Night" />
    
    <!-- Current Slide for Date Night goes here -->
  </div>
</div>