<% @title = "Tricks Date Nights" %>
<% content_for :pagestyle do %>
  body {background-color: <%= @bgc_green %>;}
  p{font-size: 14px;}
  #infobox {float: left; margin-left: 19px; margin-bottom: 25px; width: 670px; text-align: justify;}
<% end %>

<div class="content">
  <h1>Date Nights</h1>
  <div style="float:left; width: 250px; margin-left: 20px; padding: 4px; border:solid 2px #333;">
    <div>
      <div style="float: left; padding: 0px 10px; ">
        <h3 style="margin-top: 0px; ">Time:</h3>
        <p>6:45pm-9:45pm</p>
      </div>
      <div style="float: right; padding: 0px 10px;">
        <h3 style="margin-top: 0px;">Price:</h3>
        <p>$22 for first child<br>
          $20 for siblings</p>
      </div>
    </div>
    <div style="margin-bottom: 25px; float: left;">
      <h2>2013 Date Night Schedule:</h2>
                 
      <h3 style="text-decoration: underline">Superhero Date Nite</h3>
      <p><i>Get ready to save the world! Come have a super time with us and all your favorite Superheroes!</i><br>
        Sacramento - July 19th<br>
        Granite Bay - July 19th<br>
        Folsom - July 20th</p>           
      <h3 style="text-decoration: underline">Carnival Date Nite</h3>
      <p><i>Come be wild and crazy with us for this amazing night of fun-packed excitement!</i><br>
        Sacramento - August 16th<br>
        Granite Bay - August 16th<br>
        Folsom - August 17th</p>
    </div>
  </div>
  <div id="infobox">
    <p style="font-size: 16px;">Need a night for you and your spouse? We offer Date Nights once a month to give you parents a well deserved break, with the comfort of knowing your children are in good hands. All Date Nights include time for play on the gym floor, games, craft, snack and loads of fun! Ages 3 &amp; up. (Please be aware that prices have changed for 2013)</p>
  </div>
  <div style="width: 100%; margin: 0 auto; text-align: center;">
    <h2>Upcoming Date Night!</h2>
    <img style="border:5px solid #444;" src="/assets/events/datenights/superman_logo.png" width="650" height="375" alt="Superhero Date Night" />
    
    <!-- Current Slide for Date Night goes here -->
  </div>

  <br><br><br>
</div>