<% content_for :title do %>
  Tricks Employment
<% end %>

<h1>We Look Forward To Meeting You!</h1>
<div class="row align-center">
  <div class="columns large-8 ">
    <h3>Gymnastics Coach</h3>
    <p>TRICKS速 Gymnastics is looking for an energetic, enthusiastic coaches to join our staff. A gymnastics background is preferred and a positive attitude is required. We ask that all of our employees commit to at least one year. A part-time position is available at any of our three amazing locations.</p>

    <h3>Dance Teacher</h3>
    <p>TRICKS速 Dance is looking for experienced dance teachers who are passionate about children and dance. We have an extensive teacher training program and we follow a philosophy that states, &quot;Hire the character, train the skill.&quot; Applications are accepted at any of our three locations.</p>

    <h3>Swim Coach</h3>
    <p>TRICKS速 Splash is always happy to hire a great swim coach to join us in our warm water, year round program. Mornings, daytimes and weekends available. We are accepting applications at our Folsom Gym!</p>

		<% if !@application.nil? %>
			<h4 style="text-align:center;"><%= link_to "Click Here To Open Instructor Application Form", @application %></h4>
		<% end %>
    
    <h3 style="margin-top: 100px;">Office Staff</h3>
    <p>TRICKS速 is hiring a friendly and personable office staff member. Morning, mid-day, and afternoon shifts are available. Customer service background is preferred. Applications are accepted at any of our three locations.</p>

		<% if !@office_application.nil? %>
			<h4 style="text-align:center;"><%= link_to "Click Here To Open Host/Office Application Form", @office_application %></h4>
		<% end %>
  </div>
</div>