<% @title = "Tricks Employment" %>
<% content_for :pagestyle do %>
  body {background-color: <%= @bgc_green %>;}
<% end %>

<div id="content">
  <h1>Employment</h1>
  <div style="float:left; width: 600px; font-size:15px; margin-left: 40px;">
    <h2>Gymnastics Coach</h2>
    TRICKS® Gymnastics is looking for an energetic, enthusiastic coaches to join our staff. A gymnastics background is preferred and a positive attitude is required. We ask that all of our employees commit to at least one year. A part-time position is available at any of our three amazing locations. 
    <br>
    <br>
    <h2>Dance Teacher</h2>
    We're looking for experienced dance teachers who are passionate about children and dance. We have an extensive teacher training program and we follow a philosophy that states, &quot;Hire the character, train the skill.&quot; Applications are accepted at any of our three locations. 
    <br>
    <br>
    <h2>Swim Coach</h2>
    TRICKS® Splash is always happy to hire a great swim coach to join us in our warm water, year round program. Mornings, daytimes and weekends available. We are accepting applications at our Folsom Gym! 
    <br>
    <br>
    <h2>Office Staff</h2>
    TRICKS® is hiring a friendly and personable office staff member. Morning, mid-day, and afternoon shifts are available. Customer service background is preferred. Applications are accepted at any of our three locations. 
    <br>
    <br>
    <h2 style="text-align:center">We Look Forward To Meeting You!</h2>
    <div align="center">
      For your convenience below is the application form in .pdf format. Please fill out completely, attach a resume, and return to the appropriate gym location.
      <br>
      <br>
      <a href="assets/applicationofficehost.pdf">
        Click Here To Open Host/Office Application Form
      </a>
    </div>
    <br>
    <div align="center">
      <a href="assets/application.pdf">
        Click Here To Open Instructor Application Form
      </a>
    </div>
    <br>      
  </div>
  <div style="float:right; margin-right:30px; width:250px;">
    <br>
    <img src="/assets/structure/employmentside.jpg" width="246" height="490" alt="Employment" />
    <br>
    <br>
    <div align="center">
      <a href="http://get.adobe.com/reader/">
        <img src="/assets/structure/getadobe.jpg" width="158" height="39" alt="Get Adobe Reader" />
      </a>
    </div> 
    <br>
  </div>
</div>