<% @title="Tricks Special Events" %>
<% content_for :pagestyle do %>
  body {background-color: <%= @bgc_green %>;}
<% end %>

<div class="content">
  <h1>Special Events</h1>
  <div style="width: 500px; text-align: center; margin: 0 auto; margin-bottom: 20px">

  <h2>There are currently no upcoming events.</h2>
  <br>
  <!--
    <h2>Upcoming Special Events</h2>
    <ul style="text-align:left; margin-left: 140px;">
      <li>7th Annual Princess Ball</li>
      <li>2013 Slumber Party!</li>
    </ul>
    <h3>Scroll down for more info on each special event.</h3>
  -->
    
  </div>
  <div style="float:right; margin-right: 100px;">
  </div>
  <!-- Turned off while testing new Special Events layout.

  <div style="float: left; width: 200px;">
    <img src="/assets/structure/eventsside.png" width="200" height="485" alt="Gymnastics Teams" /><br>
  </div>

  -->

  <!--

  <a style="display: block; width: 300px; height: 70px;padding-left: 6px; margin: 0 auto; margin-bottom: -20px" href="http://7thprincessball.eventbrite.com/">
      <button style="cursor: pointer; background:url(/assets/events/princess_ball/princess_ball_signup_button.png); border: none; width: 300px; height: 70px;">
      </button>
    </a>
  <div id="specialevent">
    
    <img style="margin-top:-1px;" src="/assets/events/princess_ball/Princess Ball Poster (2012).png" width="900" height="1098" alt="Princess Ball" />
  </div>
  <div id="specialevent">
    <img src="/assets/events/2013 Slumber Party.png" width="900" height="1098" alt="Princess Ball" />
  </div>

  -->
  </div>