<style>
    p {
        font-size: 20px;
    }
</style>

<div class="row align-center">
    <div class="columns small-12 large-8">
        <h2>Hello Parents!</h2>
        <p>Starting Nov 12th through Nov 21st Tricks will be hosting a food drive benefiting Blessings in a Backpack. They are an organization that sends food home on the weekends for hundreds of children in our community that would normally go hungry.
        </p>
        <P>For every 10 items you donate you will receive 1 raffle ticket. We will be giving away some great prizes that include passes to Kids Night Out and Camps and a free month of class. We will be passing out a flyer to take home today that has all the information needed if you would like to participate. If you have any questions please see the office for details. Thanks!
        </p>
    </div>
    
</div>
<div class="row" style="margin-top: 20px">
    <div class="columns" style="text-align: center;">
        <%= image_tag "events/Food Drive Flyer.jpg" %>
    </div>
</div>