<% @title = "Tricks Forms" %>
<% content_for :pagestyle do %>
  body {background-color: <%= @bgc_green %>;}
  #infobox {float: left; margin-left: 19px; margin-bottom: 25px; width: 670px; text-align: justify;}
<% end %>


<div class="content">
	<div id="infobox" style="margin-left: 50px; width: 600px">
		<b>Forms</b><br>
		<p>Please click on the appropriate form below. The forms are in a .pdf file format. Please click on &quot;Get Adobe Reader&quot; below if you need the software to open the files.</p>
		<p>
			<a href="assets/Registration Form 2014.pdf">
				TRICKS Registration Form
			</a>
		</p>
		<p>
			<a href="assets/Release 2014.pdf">
				Release Form
			</a><br>

			(Waiver for all gymnastics, dance and swim classes, date night and birthday parties)</p>
		<p>
			<a href="assets/Family Rules 2014.pdf">
				Welcome to Tricks! Family Rules.
			</a>
		</p>
		<p>
			<a href="assets/2014 Billing Cycle.pdf">
				2014 Billing Cycle<br>
			</a>
		</p>
		<br>
		<div align="center" style="text-align:center;">
			<a href="http://get.adobe.com/reader/">
				<img src="/assets/structure/getadobe.jpg" width="158" height="39" alt="Get Adobe Reader" />
			</a>
		</div>
	</div>
	<div style="float:right; margin-right:30px; width:250px;">
		<img src="/assets/structure/formsside.jpg" width="240" height="157" alt="Forms" />
	</div>
</div>