<% @title = "Tricks Forms" %>
<% content_for :pagestyle do %>
  body {background-color: <%= @bgc_green %>;}
  #infobox {float: left; margin-left: 19px; margin-bottom: 25px; width: 670px; text-align: justify;}
<% end %>

<div class="content">
	<div id="infobox" style="margin-left: 50px; width: 600px">
		<b>Forms</b><br>
		<p>Please click on the appropriate form below. The forms are in a .pdf file format. Please click on &quot;Get Adobe Reader&quot; below if you need the software to open the files.</p>
		<p>
			<a href="assets/Registration Form 2014.pdf" id="link">
				TRICKS Registration Form
			</a>
		</p>
		<p>
			<a href="assets/Release 2014.pdf" id="link">
				Release Form
			</a><br>

			(Waiver for all gymnastics, dance and swim classes, date night and birthday parties)</p>
		<p>
			<a href="assets/FamilyRules2015.pdf" id="link">
				Welcome to Tricks! Family Rules
			</a>
		</p>
		<p>
			<%= link_to "Notice to Discontinue", new_discontinue_notice_path, id: 'link' %> - 
			<%= link_to "(PDF)", "assets/NoticeToDiscontinue.pdf", id: 'link', style: 'font-size: 12px;' %>
			<% if can? :manage, DiscontinueNotice %>
				<br><%= link_to "Notices of Discontinuation (Not visible to public)", discontinue_notices_path, id: 'link', style: 'font-size: 14px;' %>
			<% end %>
		</p>
		<p>
			<a href="assets/2015 Billing Cycle.pdf" id="link">
				2015 Billing Cycle<br>
			</a>
		</p>
		<br>
		<div align="center" style="text-align:center;">
			<a href="http://get.adobe.com/reader/">
				<img src="/assets/structure/getadobe.jpg" width="158" height="39" alt="Get Adobe Reader" />
			</a>
		</div>
	</div>
	<div style="float:right; margin-right:30px; width:250px;">
		<img src="/assets/structure/formsside.jpg" width="240" height="157" alt="Forms" />
	</div>
</div>