<% @title = "Tricks Hosting" %>
<% content_for :pagestyle do %>
  body {background-color: <%= @bgc_green %>;}
<% end %>

<h1 style="font-size:55px">Hosting Program</h1>
<div class="content" style="float: left; padding: 0px 30px;">
  <div style="float: left; width: 50%; min-height: 200px; border: solid black 2px; padding: 14px 20px 4px 20px;">
    <p style="line-height: 24px;">Comments on this page are randomly chosen from all of the comments that have been submitted in the past by both Parents and Children. Each time you come to visit the comments page you will be able to see 6 new comments! The comments with the Comments on this page are randomly chosen from all of the comments that have been submitted in the past by both Parents and Children. Each time you come to visit the comments page you will be able to see 6 new comments! The comments with the </p>
  </div>
  
  <iframe style="float: left; padding: 0px 0px 15px 35px" width="367" height="248" src="http://www.youtube.com/embed/kT9zqO6XxQ8?rel=0" frameborder="0"></iframe>

  <div style="float: left; min-height: 200px; padding: 24px 20px 4px 20px; width: 90%;">
  <h1 style="font-size: 35px;">Why do we have hosts?</h1>
    <p style="line-height: 24px;">Comments on this page are randomly chosen from all of the comments that have been submitted in the past by both Parents and Children. Each time you come to visit the comments page you will be able to see 6 new comments! The comments with the Comments on this page are randomly chosen from all of the comments that have been submitted in the past by both Parents and Children. Each time you come to visit the comments page you will be able to see 6 new comments! The comments with the </p>
  </div>
</div>