<% @title = "Tricks Locations" %>
<% content_for :pagestyle do %>
  body {background-color: <%= @bgc_orange %>;}
<% end %>

<div class="content">
	<h1 style="font-size: 40px;">Locations</h1>

	<div class="location_container">
		<div class="location">
			<h2>Granite Bay</h2>
			4070 Cavitt Stallman Rd<br>
			GRANITE BAY, CA 95746<br>
			Phone: (916) 791-4496<br>
			Email: <a style="color: #06F; text-decoration: none; font-size: 16px;" href="mailto:tricksgb@gmail.com?subject=Email from Website">
				tricksgb@gmail.com
			</a><br>
			<br>
			Driving Directions to Granite Bay TRICKS<br>
			<form action="http://maps.google.com/maps" method="get" target="_blank">
				Enter your starting address:
				<input type="text" name="saddr" />
				<input type="hidden" name="daddr" value="4070 Cavitt Stallman Rd, Granite Bay, CA 95746" /><br>
				<input type="submit" value="Get Directions" style="padding: 4px 10px;" />
			</form>
		</div>
		<div class="map">
			<iframe width="370" height="230" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Tricks+Gymnastics+Inc,+Cavitt+Stallman+Road,+Granite+Bay,+CA&amp;aq=1&amp;oq=tricks+gym&amp;sll=37.269174,-119.306607&amp;sspn=15.593278,33.815918&amp;ie=UTF8&amp;hq=Tricks+Gymnastics+Inc,&amp;hnear=Cavitt+Stallman+Rd,+Granite+Bay,+Placer,+California&amp;t=m&amp;ll=38.74759,-121.218853&amp;spn=0.015396,0.031757&amp;z=14&amp;output=embed&iwloc=near"></iframe>
			<br>
			<small>
			<a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Tricks+Gymnastics+Inc,+Cavitt+Stallman+Road,+Granite+Bay,+CA&amp;aq=1&amp;oq=tricks+gym&amp;sll=37.269174,-119.306607&amp;sspn=15.593278,33.815918&amp;ie=UTF8&amp;hq=Tricks+Gymnastics+Inc,&amp;hnear=Cavitt+Stallman+Rd,+Granite+Bay,+Placer,+California&amp;t=m&amp;ll=38.74759,-121.218853&amp;spn=0.015396,0.031757&amp;z=14" style="color:#0000FF;text-align:left">
				View Larger Map
			</a>
			</small>
		</div>
	</div>

	<div class="location_container">
		<div class="location">
			<h2>Folsom</h2>
			370 Plaza Drive<br>
			FOLSOM, CA 95630<br>
			Phone: (916) 351-0024<br>
			Email: <a style="color: #06F; text-decoration: none; font-size: 16px;" href="mailto:tricksfol@gmail.com?subject=Email from Website">
				tricksfol@gmail.com
			</a><br>
			<br>
			Driving Directions to Folsom TRICKS<br>
			<form action="http://maps.google.com/maps" method="get" target="_blank">
				Enter your starting address:
				<input type="text" name="saddr" />
				<input type="hidden" name="daddr" value="370 Plaza Drive, Folsom, CA 95630" />
				<br>
				<input type="submit" value="Get Directions" style="padding: 4px 10px" />
			</form>
		</div>
		<div class="map">
			<iframe width="370" height="230" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Tricks+Gymnastics,+Dance+%26+Swim,+Auto+Plaza+Drive,+Folsom,+CA&amp;aq=1&amp;oq=Tricks+Gymnastics&amp;sll=38.656974,-121.176652&amp;sspn=0.007482,0.016512&amp;ie=UTF8&amp;hq=Tricks+Gymnastics,+Dance+%26+Swim,&amp;hnear=Auto+Plaza+Dr,+Folsom,+Sacramento,+California+95630&amp;t=m&amp;ll=38.659912,-121.174994&amp;spn=0.015415,0.031672&amp;z=14&amp;iwloc=A&amp;output=embed&iwloc=near"></iframe>
			<br>
			<small>
			<a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Tricks+Gymnastics,+Dance+%26+Swim,+Auto+Plaza+Drive,+Folsom,+CA&amp;aq=1&amp;oq=Tricks+Gymnastics&amp;sll=38.656974,-121.176652&amp;sspn=0.007482,0.016512&amp;ie=UTF8&amp;hq=Tricks+Gymnastics,+Dance+%26+Swim,&amp;hnear=Auto+Plaza+Dr,+Folsom,+Sacramento,+California+95630&amp;t=m&amp;ll=38.659912,-121.174994&amp;spn=0.015415,0.031672&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">
				View Larger Map
			</a>
			</small>
		</div>
	</div>

	<div class="location_container">
		<div class="location">
			<h2>Sacramento</h2>
			4440 Marconi Avenue, Suite 100<br>
			SACRAMENTO, CA 95821<br>
			Telephone: (916) 481-4496<br>
			Email: <a style="color: #06F; text-decoration: none; font-size: 16px;" href="mailto:trickssac@gmail.com?subject=Email from Website">
				trickssac@gmail.com
			</a><br>
			<br>
			Driving Directions to Sacramento TRICKS <br>
			<form action="http://maps.google.com/maps" method="get" target="_blank">
				Enter your starting address:
				<input type="text" name="saddr" />
				<input type="hidden" name="daddr" value="4440 Marconi Avenue, Suite 100, Sacramento, CA 95821" /><br>
				<input type="submit" value="Get Directions" style="padding: 4px 10px" />
			</form>
		</div>
		<div class="map">
			<iframe width="370" height="230" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Tricks+Gymnastics+%26+Dance,+Marconi+Avenue,+Sacramento,+CA&amp;aq=2&amp;oq=Tricks+Gymnastics+&amp;sll=38.745063,-121.222308&amp;sspn=0.014945,0.033023&amp;ie=UTF8&amp;hq=Tricks+Gymnastics+%26+Dance,&amp;hnear=Marconi+Ave,+Arden-Arcade,+Sacramento,+California&amp;t=m&amp;ll=38.617642,-121.36086&amp;spn=0.007712,0.015836&amp;z=15&amp;output=embed&iwloc=near"></iframe>
			<br>
			<small>
			<a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Tricks+Gymnastics+%26+Dance,+Marconi+Avenue,+Sacramento,+CA&amp;aq=2&amp;oq=Tricks+Gymnastics+&amp;sll=38.745063,-121.222308&amp;sspn=0.014945,0.033023&amp;ie=UTF8&amp;hq=Tricks+Gymnastics+%26+Dance,&amp;hnear=Marconi+Ave,+Arden-Arcade,+Sacramento,+California&amp;t=m&amp;ll=38.617642,-121.36086&amp;spn=0.007712,0.015836&amp;z=15" style="color:#0000FF;text-align:left">
				View Larger Map
			</a>
			</small>
		</div>
	</div>



</div>