<div class="row align-center">
	<div class="columns large-4 small-11" style="margin-bottom: 100px;">
		<div class="row align-center">
			<div class="columns small-8 large-11">
				<%= render :partial => "bubble_contents/bubble", locals: {given_bubble: BubbleContent.where(sort_order: 100).first, font_size: "50", text_border_color: "777", text_border_size: "2"} %>
			</div>
		</div>
		<div class="row align-center location-information">
			<div class="columns small-10">
				<p>4070 Cavitt Stallman Rd<br>
				Granite Bay, CA 95746</p>
				<p>Phone: (916) 791-4496</p>
				<p>Email: <a href="mailto:tricksgb@gmail.com?subject=Email from Website">tricksgb@gmail.com</a></p>
				<div class="flex-video" style="margin-top: 50px;">
					<iframe frameborder="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Tricks+Gymnastics+Inc,+Cavitt+Stallman+Road,+Granite+Bay,+CA&amp;aq=1&amp;oq=tricks+gym&amp;sll=37.269174,-119.306607&amp;sspn=15.593278,33.815918&amp;ie=UTF8&amp;hq=Tricks+Gymnastics+Inc,&amp;hnear=Cavitt+Stallman+Rd,+Granite+Bay,+Placer,+California&amp;t=m&amp;ll=38.74759,-121.218853&amp;spn=0.015396,0.031757&amp;z=14&amp;output=embed&iwloc=near"></iframe>
				</div>
				<form action="http://maps.google.com/maps" method="get" target="_blank">
					For directions, enter starting address:
					<input type="text" name="saddr" />
					<input type="hidden" name="daddr" value="4070 Cavitt Stallman Rd, Granite Bay, CA 95746" />
					<input type="submit" value="Get Directions" style="padding: 10px" class="button expanded" />
				</form>
			</div>
		</div>
	</div>
	
	<div class="columns large-4 small-11" style="margin-bottom: 100px;">
		<div class="row align-center">
			<div class="columns small-8 large-11">
				<%= render :partial => "bubble_contents/bubble", locals: {given_bubble: BubbleContent.where(sort_order: 101).first, font_size: "50", text_border_color: "777", text_border_size: "2"} %>
			</div>
		</div>
		<div class="row align-center location-information">
			<div class="columns small-10">
				<p>370 Plaza Drive<br>
				Folsom, CA 95630</p>
				<p>Phone: (916) 351-0024</p>
				<p>Email: <a href="mailto:tricksfol@gmail.com?subject=Email from Website">tricksfol@gmail.com</a></p>
				<div class="flex-video" style="margin-top: 50px;">
					<iframe frameborder="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Tricks+Gymnastics,+Dance+%26+Swim,+Auto+Plaza+Drive,+Folsom,+CA&amp;aq=1&amp;oq=Tricks+Gymnastics&amp;sll=38.656974,-121.176652&amp;sspn=0.007482,0.016512&amp;ie=UTF8&amp;hq=Tricks+Gymnastics,+Dance+%26+Swim,&amp;hnear=Auto+Plaza+Dr,+Folsom,+Sacramento,+California+95630&amp;t=m&amp;ll=38.659912,-121.174994&amp;spn=0.015415,0.031672&amp;z=14&amp;iwloc=A&amp;output=embed&iwloc=near"></iframe>
				</div>
				<form action="http://maps.google.com/maps" method="get" target="_blank">
					For directions, enter starting address:
					<input type="text" name="saddr" />
					<input type="hidden" name="daddr" value="370 Plaza Drive, Folsom, CA 95630" />
					<input type="submit" value="Get Directions" style="padding: 10px" class="button expanded" />
				</form>
			</div>
		</div>
	</div>
	
	<div class="columns large-4 small-11" style="margin-bottom: 100px;">
		<div class="row align-center">
			<div class="columns small-8 large-11">
				<%= render :partial => "bubble_contents/bubble", locals: {given_bubble: BubbleContent.where(sort_order: 102).first, font_size: "50", text_border_color: "777", text_border_size: "2"} %>
			</div>
		</div>
		<div class="row align-center location-information">
			<div class="columns small-10">
				<p>4440 Marconi Avenue, Suite 100<br>
				Sacramento, CA 95821</p>
				<p>Phone: (916) 481-4496</p>
				<p>Email: <a href="mailto:trickssac@gmail.com?subject=Email from Website">trickssac@gmail.com</a></p>
				<div class="flex-video" style="margin-top: 50px;">
					<iframe frameborder="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Tricks+Gymnastics+%26+Dance,+Marconi+Avenue,+Sacramento,+CA&amp;aq=2&amp;oq=Tricks+Gymnastics+&amp;sll=38.745063,-121.222308&amp;sspn=0.014945,0.033023&amp;ie=UTF8&amp;hq=Tricks+Gymnastics+%26+Dance,&amp;hnear=Marconi+Ave,+Arden-Arcade,+Sacramento,+California&amp;t=m&amp;ll=38.617642,-121.36086&amp;spn=0.007712,0.015836&amp;z=15&amp;output=embed&iwloc=near"></iframe>
				</div>
				<form action="http://maps.google.com/maps" method="get" target="_blank">
					For directions, enter starting address:
					<input type="text" name="saddr" />
					<input type="hidden" name="daddr" value="4440 Marconi Avenue, Suite 100, Sacramento, CA 95821" />
					<input type="submit" value="Get Directions" style="padding: 10px" class="button expanded" />
				</form>
			</div>
		</div>
	</div>
</div>

<div class="reveal fast medium" style="z-index: 1010" id="granite_bay_modal" data-reveal data-close-on-click="true" data-animation-in="scale-in-down" data-animation-out="scale-out-up">
	<div class="flex-video">
	  <iframe src="https://www.google.com/maps/embed?pb=!4v1519880743652!6m8!1m7!1sCAoSLEFGMVFpcE5qR25MUUowalJhMGhMVERLVnptSEpfbDBjUEE5VEpNc0QtMzVh!2m2!1d38.745712297871!2d-121.22287603716!3f146.1345429876841!4f-0.874783306286318!5f0.4000000000000002" frameborder="0" allowfullscreen></iframe>
	</div>
	<button class="close-button" data-close aria-label="Close reveal" type="button">
	  <span aria-hidden="true">&times;</span>
	</button>
</div>

<div class="reveal fast medium" style="z-index: 1010" id="folsom_modal" data-reveal data-close-on-click="true" data-animation-in="scale-in-down" data-animation-out="scale-out-up">
	<div class="flex-video">
	  <iframe src="https://www.google.com/maps/embed?pb=!1m0!4v1508206254785!6m8!1m7!1sCAoSLEFGMVFpcE51WkctZXRQVTZEZmVJVGk4RTRjVGp2SU5LNV8yV1VaT29Sbkpm!2m2!1d38.656872415621!2d-121.17661178246!3f193.5095173446468!4f-8.184181641094327!5f0.4000000000000002" frameborder="0" allowfullscreen></iframe>
	</div>
	<button class="close-button" data-close aria-label="Close reveal" type="button">
	  <span aria-hidden="true">&times;</span>
	</button>
</div>

<div class="reveal fast medium" style="z-index: 1010" id="sacramento_modal" data-reveal data-close-on-click="true" data-animation-in="scale-in-down" data-animation-out="scale-out-up">
	<div class="flex-video">
	  <iframe src="https://www.google.com/maps/embed?pb=!1m0!4v1508206315631!6m8!1m7!1sCAoSLEFGMVFpcE5rR3JkdjMzdFpUVl9jS3JYbjhuZGgzN2dadElPYzVfWXR2WFhQ!2m2!1d38.617275678931!2d-121.36083996966!3f218.07720748001384!4f-4.697349233561056!5f0.4000000000000002" frameborder="0" allowfullscreen></iframe>
	</div>
	<button class="close-button" data-close aria-label="Close reveal" type="button">
	  <span aria-hidden="true">&times;</span>
	</button>
</div>