<% @title = "Missing Page" %>
<% content_for :pagestyle do %>
  body {background-color: <%= @bgc_yellow %>;}
<% end %>

<div id="content" style="text-align: center">
	<h1>Ooops!</h1>
	<h2>It seems this page is either under maintenance or does not exist.</h3>
	<br><br>		
	<h2>You can notify the webmaster of this at:</h2>
	<a style="color: #06F; text-decoration: none; font-size: 18px;" href="mailto:webmaster@tricksgym.com?subject=Website Notification from Missing Page">
		webmaster@tricksgym.com
	</a>
	<br><br><br><br>
</div>
    
    