<h4>Practice</h4>
<ul>
    <li>Create a partial, use it twice on this page. (Write code 1 time and use it repeatedly)</li>
    <li>Learn the basics of the grid layout: <a href="http://foundation.zurb.com/sites/docs/flex-grid.html">http://foundation.zurb.com/sites/docs/flex-grid.html</a></li>
    <li>Play with some CSS: Maka box, 200 pixels wide, 400 pixels tall with a deeppink border that is 4 pixels thick, give it a box-shadow that is dark, play a youtube video inside of it.</li>
</ul>
<h4>Tasks</h4>
<ul>
    <li>Create a page for Polkadots</li>
    <li>Send a confirmation email to job applicants</li>
    <li>Set up a way to delete job applications</li>
</ul>
<% 
  given_locals = {
    happenis: "Testing",
    border: 'blue',
    abc: 'solid'
    # solid dashed dotted
    
  }  
  masakra = {
    happenis: "More",
    border: 'yellow',
    abc: 'dashed'
    
  }
 fast={
     happenis: "Again",
     border: 'dotted black',
     abc: ''
 }
%>
<%= render partial: 'nasapartial', locals: given_locals %>
<%= render partial: 'nasapartial', locals: masakra %>
<%= render partial: 'nasapartial', locals: fast %>