<% @title = "Tricks Dance: Nutcracker" %>
<% content_for :pagestyle do %>
  body {background-color: <%= @bgc_green %>;}
	#infobox {width: 400px;	margin: 0;}
	h2 {text-align: center;	font-size: 30px;}
	h3 {text-align: center;	font-size: 22px;	margin-bottom: 10px;}
	p {font-size: 17px;}
	a {color: #000;}
<% end %>

<div class="content">
	<div id="infobox" style="width: 100%; margin-bottom: 25px;">
		<h3>We are excited to announce the plans for our annual holiday show,</h3>
		<h2>"The Littlest Nutcracker"!</h2>
	</div>
	<div>
		<div style="float: left; width: 300px; margin: 20px 0px 100px 25px">
			<img style="resize: both;" src="/assets/structure/tlnc_nutcracker.png" width="300" height="477" alt="Nutcracker" />
		</div>
		<div id="infobox" style="width: 550px; margin: 0px 0px 10px 50px">
			<img style="float: right; margin-top: 60px;" src="/assets/structure/tlnc_gingerbreadman.png" width="200" height="227" alt="Gingerbread Man" />
			<h3 style="color:#2B58AC; text-align: left;">Granite Bay</h3>
			<p>
				<a href="assets/recital/gb_show1 (nutcracker 2012).pdf">
					Show #1 - December 17, 2012 at 4:30pm
				</a>
				<br>
				<a href="assets/recital/gb_show2 (nutcracker 2012).pdf">
					Show #2 - December 17, 2012 at 7:00pm
				</a>
				<br>
				<a href="assets/recital/gb_show3 (nutcracker 2012).pdf">
					Show #3 - December 18, 2012 at 4:30pm
				</a>
			</p>
			<h3 style="color:#2B58AC; text-align: left;">Sacramento</h3>
			<p>
				<a href="assets/recital/sac_show1 (nutcracker 2012).pdf">
					Show #1 - December 18, 2012 at 4:30pm
				</a>
				<br>
				<a href="assets/recital/sac_show2 (nutcracker 2012).pdf">
					Show #2 - December 18, 2012 at 7:00pm
				</a>
			</p>
			<h3 style="color:#2B58AC; text-align: left;">Folsom</h3>
			<p>
				<a href="assets/recital/fol_show1 (nutcracker 2012).pdf">
					Show #1 - December 19, 2012 at 4:30pm
				</a>
				<br>
				<a href="assets/recital/fol_show2 (nutcracker 2012).pdf">
					Show #2 - December 19, 2012 at 7:00pm
				</a>
				<br>
				<a href="assets/recital/fol_show3 (nutcracker 2012).pdf">
					Show #3 - December 20, 2012 at 4:30pm
				</a>
			</p>
			<h3 style="color:#2B58AC; text-align: left;">Making Spirits Bright</h3>
			<p>
				<a href="assets/recital/MSB Schedules 2012.pdf">
					December 20, 2012 at 7:00pm
				</a>
			</p>
		</div>
		<div style="float: left; width: 600px; margin-bottom: 20px;">
			<p style="text-align: center;">Performances will be held at Folsom High School Theater<br>
				Directions To Folsom High School From Your Gym!: </p>
			<div style="width: 420px; padding-left: 127px;">
				<form action="http://maps.google.com/maps" method="get" target="_blank" style="float:left; text-align:center; margin-top:-4px;">
					<input type="hidden" name="saddr" value="370 Plaza Drive, Folsom, CA 95630" />
					<input type="hidden" name="daddr" value="1655 Iron Point Road, Folsom, CA 95630" />
					<input type="submit" value="From Folsom" />
				</form>
				<form action="http://maps.google.com/maps" method="get" target="_blank" style="float:left; text-align:center; margin-top:-4px;">
					<input type="hidden" name="saddr" value="4440 Marconi Avenue, Suite 100, Sacramento, CA 95821" />
					<input type="hidden" name="daddr" value="1655 Iron Point Road, Folsom, CA 95630" />
					<input type="submit" value="From Sacramento" />
				</form>
				<form action="http://maps.google.com/maps" method="get" target="_blank" style="float:left; text-align:center; margin-top:-4px;">
					<input type="hidden" name="saddr" value="4070 Cavitt Stallman Rd, Granite Bay, CA 95746" />
					<input type="hidden" name="daddr" value="1655 Iron Point Road, Folsom, CA 95630" />
					<input type="submit" value="From Granite Bay" />
				</form>
			</div>
		</div>
		<div id="infobox" style="width: 600px; margin-bottom: 40px">
			<h3>For further details please contact your studio.</h3>
			<h3>We can't wait to enjoy this perfomance with you!</h3>
		</div>
	</div>
</div>
