<div class="row align-spaced">
    <h1>Our Story</h1>
    <div class="columns small-11" style="margin-bottom: 30px;">
        <p>TRICKS really began in 7th grade for me. My name is Barbara Jo and I started gymnastics at age 8 in our neighbors basement where we did dance and tumbling. My greatest achievement there was doing a back hand spring on concrete for a $5 prize. I come from a family of 9 children so there wasn't always a lot of discretionary income for activities. However, my Mom put me in summer city rec classes and that's where one of the coaches told the coach of a fairly local club that I needed to pursue gymnastics more seriously. He called my Mom and somehow talked her into it. I went on to compete with private clubs and later on, in high school. I received a scholarship to compete at Southern Utah University. I declined because I was done with wearing a leotard. In 7th grade, I was in a "Careers" class where I distinctly remember thinking that I wanted to teach gymnastics. I began teaching at the same summer rec program at age 14.</p>
        <p> Fast forward now...Vern and I met in January 1988 and got married in May 1988. We moved to California in June 1988. A company called Roof Life is what brought us here. It was a business that grew quickly because of Mt. St Helens. They cleaned and treated shake roof. Vern did that job while I searched out a gym I wanted to coach in. It didn't take long to figure out that our life was on a road to nowhere and that things needed to change. I loved coaching but Vern's job was not utilizing his strengths.</p>
        <p>March 1990, I am 6 months pregnant when Vern and I have a serious talk that ends with a pinkie promise. He wanted to start our own gym. I was very reluctant because I had owned my own gym business in Utah and I knew how much work owning a business is. Luckily, he was determined so the pinkie promise was this: that after we prayed about it, if either one of us felt like this was not the path we were meant to be on, the other one would understand and we would figure something else out. After standing up and walking not even 6' away from the foot of our bed, I KNEW that this was what we were supposed to do.</p>
        <p>A flurry of things started happening including writing a business plan that we sent out to 3 people (2 of whom we had never met). Only one wrote back with, "looks like a good plan, I'm just not in a position to invest right now." We didn't give up. We had no collateral and had some debt so we knew that a bank wouldn't touch us or our project. I then remembered the Mom of a little girl I was teaching at the time. She had just randomly said one day that If we ever wanted to do our own thing to reach out. We didn't know how to go about having a partner but since we had no alternatives, we reached out. Donna Smith loved our business plan! She and her husband Monte believed in us and they loaned us the money to start TRICKS. We will forever be grateful. They made TRICKS possible!</p>
        <p>We opened our first gym on November 14, 1990. Neither Vern or I have ever looked back. We have been grateful for all of the constant help, seen and unseen, in running a business of this size and complexity. TRICKS has been such a blessing in our family's life. We have strived to be a positive influence for the children and parents that come through our doors. We have worked with many athletes--both big kids and very small kiddos. We hope that your experience at TRICKS will bring you good memories and lasting confidence for your entire life.</p>
    </div>
    <div class="columns small-11 large-5">
		<div class="flex-video">
			<iframe src="https://www.youtube.com/embed/XfW8UsfbNnk" frameborder="0" allowfullscreen></iframe>
		</div>
    </div>
    <div class="columns small-11 large-5">
		<div class="flex-video">
			<iframe src="https://www.youtube.com/embed/DRQLtkfh65Q" frameborder="0" allowfullscreen></iframe>
		</div>
    </div>
</div>