<% @title = "Tricks Polkadots" %>
<% content_for :pagestyle do %>
  body {background-color: <%= @bgc_pink %>;}
<% end %>

<div class="content">
	<div style="float: left;">
		<img src="/assets/structure/polkadotsgirl.png" width="433" height="675" alt="Polkadots" />
	</div>
	<div style="float: left; width: 246px; height: 159px; margin: -20px 80px 0px -180px;">
		<img src="/assets/logos/polkadots.jpg" width="246" height="159" alt="Polkadots" />
	</div>
	<div style="float: left; width: 370px; height: auto; margin-top: 30px; margin-left: 0px; font-size: 16px;">
	
		<h2>A pro shop for all of your <br>
			gymnastics and dance needs.</h2>
		<ul>
			<li>Gymnastics leotards</li>
			<li>Dancewear</li>
			<li>Ballet, tap and jazz shoes</li>
			<li>Gifts</li>
			<li>Dress-up and Costumes</li>
			<li>Gift Certificates</li>
		</ul>
		<p>Located at our Granite Bay and Folsom Gym</p>
		<p>Contact us at:<br>
			(916)-740-1070 (Granite Bay)<br>
			(916)-351-8341 (Folsom)<br>
		<br>
		</p>
		<h2>Weekly Special:</h2>
		<img style="margin: 30px 0px 0px -110px; border: solid 2px #444;" src="/assets/dealoftheweek/dealoftheweek.png" width="370" height="250" alt="Deal of the Week" />
	</div>
</div>