<% @title = "Tricks Princess Birthday Parties" %>

<% content_for :pagestyle do %>
  body {background-color: <%= @bgc_pink %>;}
<% end %>


<img style="width: 100%;" src="/assets/events/BdayPartyDance.jpg" alt="Dance Birthday Parties" />

<!-- 
<div class="content" style="padding: 0px 20px; width: 960px;">
  <h1>Princess Parties</h1>
  
  <div style="width: 940px; float: left; padding: 0px 10px;">
    <%#= image_tag('/assets/structure/princess_party.png', width: "300px", style: "float: left; margin-right: 15px;") %>
    <div style="width: 625px; float:right">
      <p>This party is a fairytale, with your daughter playing the princess. Once upon a time… on the day your daughter was born, some not so nice fairies put a spell on everyone so that no one would know who she truly was, a princess. The spell could only be broken on her ___ birthday. Only then could she find out what she was really born to be. The only problem is that the princess must have a crown and the mean fairies hid her crown!</p>
      <p>With the help of the Fairy Princess Teacher and the Maiden Helper, everyone will learn a dance and get all glammed up to prepare for an exciting journey to find the crown. Without giving away the entire story, you should know that the princess can only be crowned by a King or Queen (this is where mom and dad come in). The entire kingdom will celebrate with treats and sweets and then it will be time to present the gifts to the princess.</p>
      <p>The decorations for the party are fit for a castle, which is where the party takes place ~ in our castle themed dance studio!</p>
      <h4 style="text-align: center; margin: 5px 0px; white-space:nowrap">We'll handle all of the entertainment, decorations, music, set-up, serving, and clean-up!</h4>
      <h3 style="text-align: center; margin: 5px 0px 10px 0px">You relax, enjoy the party, and take the pictures!</h3>
    </div>
  </div>
  <div style="margin-top: 20px; float:left; width: 450px; margin: 10px; text-align: center;">
    <%#= image_tag('/assets/structure/princess_party_crown_blue.png', width: "100px") %>
    <ul style="list-style-type: none; text-align: left; width: 330px; ">
      <li><b>Day:</b> Saturday</li>
      <li><b>Times:</b> 3:30 & 5:30 pm</li>
      <li><b>Duration:</b> 1 Hour 30 Minutes</li>
      <li><b>Ages:</b> 3 to 7 years old</li>
      <li><b>Price:</b> $199</li>
      <li><b>Location:</b> Granite Bay Only</li>
      <li><b>How many kids can I invite:</b> Up to 11 little princesses</li>
    </ul>
  </div>
  <div style="margin-top: 20px; float:right; width: 470px; margin: 10px; text-align: center">
    <%#= image_tag('/assets/structure/princess_party_crown_pink.png', width: "100px", style: "margin-left: 10px;") %>
    <h2>All parties include:</h2>
    <ul style="margin: -7px 0px 0px -10px; text-align: justify">
      <li>Beautiful princess crown and sparkling wand for the birthday girl</li>
      <li>Play time in the bounce house train (as we go on our adventure)</li>
      <li>Necklace for each party guest</li>
      <li>Fingernail painting and make up session for each guest</li>
      <li>Fancy attire for the King or Queen</li>
      <li>A free class pass for each guest</li>
      <li>Paper products (plates, napkins, forks, tablecloths)</li>
    </ul>
  </div>
  <div style="float: left; width: 100%">
    <h2 style="color: #ec1e79; font-size: 18px; margin: 15px 0px; text-align:center;">Come and see your little girl become a Princess! </h2>
  </div>
  <div style="margin-top:30px; float:left;">
    <h2 style="text-align: center">FAQ's</h2>
    <h3>What about food and drinks?</h3>
    The food and drinks are left to your discretion.  Please keep all food and drinks in the party room and off the gym or dance floor. No alcohol on the premises, please!
    <h3>Do you supply the decorations? Can I bring my own?</h3>
    The party room is decorated with birthday decorations and balloons. with no particular theme (ie, Aladdin or Barbie). If your child wants something specific, you may bring it in before the party begins and we will do our best to accomodate.
    <h3>Do I need to bring anything?</h3>
    You will need to supply the following, if desired: snacks/treats, party favors, candles, and a knife to cut the cake. For safety reasons please do not incorporate pinatas in your party.<br><br>
  </div>
  <div style="margin-top:20px; float:left;">
    <h2>Cancellation Policy</h2>
    <p>Full Refund: If party is cancelled more that 3 weeks from party date. Partial Refund: $100.00 is refunded if party is cancelled within 3 weeks. Cancellations <b>cannot</b> be made online, please call the gym where you scheduled your party if you need to cancel your reservation. (Phone numbers located at the top of the page)</p>
  </div>  
</div>
   -->
  <!-- Calendar buttons
  <div align="center" style="float: right; width: 250px; margin: 20px 35px 20px 0px">
      <br>
      <a href="http://app.jackrabbitclass.com/eventcalendar.asp?orgid=313983&loc=fol&cat1=events" target="new">
        <img src="/assets/structure/parties_folsom_button.png" width="250" height="100" alt="Folsom Parties Calendar" />
      </a>
      <br>
      <br>
      <a href="http://app.jackrabbitclass.com/eventcalendar.asp?orgid=313983&loc=gb&cat1=events" target="new">
        <img src="/assets/structure/parties_granitebay_button.png" width="250" height="100" alt="Granite Bay Parties Calendar" />
      </a>
      <br>
      <br>
      <a href="http://app.jackrabbitclass.com/eventcalendar.asp?orgid=313983&loc=sac&cat1=events" target="new">
        <img  src="/assets/structure/parties_sacramento_button.png" width="250" height="100" alt="Sacramento Parties Calendar" />
      </a>
      <br>
      <br>
    </div>
    -->