<% @title = "Tricks Order Form Thank You" %>
<% content_for :pagestyle do %>
  body {background-color: <%= @bgc_yellow %>;}
<% end %>

<div class="content">
	<br>
	<br>
	<h1>Thank You</h1>
	<h2 style="text-align:center; font-size: 25px;">Your order has been processed</h2>
	<br>
	<br>
	<br>
	<br>
	<br>
	<p style="text-align:center">If you have any questions please contact the<br>
webmaster by clicking the link below: </p>
	<h2 style="text-align:center;">
		<a style="color: #06F; text-decoration: none; font-size: 18px;" href="mailto:football80@gmail.com?subject=Question About Recital Ad Order">
			Jordan Taylor
		</a>
	</h2>
	<br>
</div>