<% @title = "Registration" %>
<% content_for :pagestyle do %>
  body {background-color: <%= @bgc_yellow %>;}
<% end %>
<% content_for :jsforpage do %>
  <script type="text/javascript">
    jQuery(document).ready(RemoveEmptyTables);
    function RemoveEmptyTables() {
      // $("div.registration_level_container").has("table").css("display", "none");
      $("div.registration_level_container").filter(function(){
        return $(this).find('table').length
      }).show();
    }
  </script>
<% end %>

<div class="content">

  <div style="margin: 20px;">

    <% locations = {"Granite Bay" => "GB", "Folsom" => "FOL", "Sacrament" => "SAC"} %>

    <%= form_tag registration_path, :method => 'get', :id => "schedules_search" do %>
      <%#= select_tag "location", options_for_select(locations, params[:location]), :onchange => "this.form.submit();", :prompt => "Choose Location" %>
      <%#= select_tag "age", options_for_select(Level.pluck(:age).uniq.sort, params[:age]), :onchange => "this.form.submit();", :prompt => "All Ages" %>
      <% class_types = Classtype.pluck(:name).uniq.sort %>
      <% class_types.delete("Office") %>
      <% class_types.delete("Swim") %>
      <%#= select_tag "classtype", options_for_select(class_types, params[:classtype]), :onchange => "this.form.submit();", :prompt => "Programs", :style => "float: right; margin: 0px 0px 0px -115px" %>
      <%#= select_tag "level", options_for_select(Level.where("levels.jack_rabbit_name IS NOT NULL").order('sort_order ASC').pluck(:levelname).uniq, params[:level]), :onchange => "this.form.submit();", :prompt => "All Levels" %>
    <% end %>

    <%= render 'register' %>
  </div>

</div>