<%#= javascript_include_tag "comments" %>

<% content_for :title do %>
  Tricks - Comments
<% end %>

<% update_bubbles([10]) %>

<div class="row">
  <div class="columns">
    <div class="row">
      <div class="columns">
        <h1 style="margin-bottom: 0;">Comments</h1>
      </div>
    </div>
    
    <div class="row">
      <div class="columns">
        <p>Please feel free to leave us a comment about our Staff, Facilities, Website, or anything else you would like. Simply click on the big green button to leave a comment.
        </p>
        <p>Comments on this page are randomly chosen from all of the comments that have been submitted in the past by both Parents and Children. Each time you come to visit the comments page you will be able to see new comments!</p>
        <h5 style=text-align:center;">Click one of the buttons to only show comments for that activity</h5>
      </div>
    </div>
    
    <div class="row" style="margin-top: 5px; margin-bottom: 40px">
      <% [{name: 'Gymnastics', color: "#009700"},
          # {name: 'TAG', color: "orange"},
          {name: "Dance", color: "#E80068"},
          {name: "Swim", color: "#03C"}].each do | program | %>
        <div class="columns small-expand">
          <% is_active = (params.has_key?(:type) && params[:type] == program[:name]) %>
          <% link = is_active ? params.except(:type) : params.permit().merge({type: program[:name]})%>
          <%= link_to program[:name], link, class: "comment-filter-button " + program[:name] + (is_active ? " active" : "") %>
        </div>
      <% end %>
    </div>
    
    <div id="comments">
      <%= render partial: 'site_comments', locals: {comments: @comments} %>
    </div>
    
    <div class="row align-center">
      <div class="columns small-6" style="text-align: center;">
        <div style="display: none;">
          <%= paginate @comments, window: 2 %>
          <img src="/assets/loading-spinner-white.gif">
        </div>
        <%= link_to "Load More", "javascript:void(0);", class: "button large expanded", style: "margin: 30px 0 50px 0", id: "load_more_comments" %>
      </div>
    </div>
  </div>
</div>