<% @title = "Tricks Summer Camps" %>
<% content_for :pagestyle do %>
  body {background-color: <%= @bgc_yellow %>;}
<% end %>

<div id="content" style="text-align:center">
	<img src="/assets/structure/summer2012.jpg" width="864" height="1296" alt="Summer Camps" />		
</div>