<!--<div class="row" style="margin-bottom: 50px;">
	<div class="columns medium-12">
		<h1>TRICKS Swim Program</h1>
		<h2>(Ages 0-10)</h2>
	</div>
	<div class="columns medium-3">
		<img src="/assets/logos/swim.jpg" style="margin-left:20px" width="235" height="249" alt="Swim Program" />
		<h2>Class Schedules & Pricing</h2>
		<h2>
			<%#= link_to "Folsom Class Schedule", schedules_fol_swim_path, :style => "color:#ec1e79;" %>
		</h2>
		<img src="/assets/structure/swimgirl.png" style="margin-top: 450px" />
	</div>

</div> -->

<% 
  given_locals = {
    given_title: "Tricks Swim Program",
    given_header_image: "/assets/site_header_images/SwimHeader.png",
    given_bubbles: [2,3],
    given_description: '
      <p>Your child will splash his/her way through 45 minutes over flowing with music, motion and swim challenges. This nurturing environment combines physical activity with positive reinforcement and recognition of effort, which helps transform tiny people into confident youth and later into contributing adults. Try out our risk free first class and you\'ll agree that TRICKS Splash is the best place to learn swimming – AND THE WATER IS 89 degrees!</p>
			<p>Who says you can\'t swim all year long! Unlike most swim programs, Tricks Splash is an ongoing swim program, so you can join at any time. When your child is ready for the next level, so are we! The students progress at their own pace and our program is flexible enough to fit your schedule.</p>
			<h3>Technique &amp; Safety</h3>
			<p>All of the swim classes offered by the Splash Program help your child learn proper swim technique as well as life saving water safety. Every class includes training on breath, strokes, kicks and floating. </p>
'.html_safe,
    given_levels: @swim,
    given_color: @bgc_blue
  } 
%>

<%= render partial: 'classtype_page', locals: given_locals %>