<% 
  given_locals = {
    given_title: "Tricks Agility Gymnastics",
    given_header_image: "/assets/site_header_images/TAG2.png",
    given_bubbles: [1,3],
    given_description: '<p>A gym is the perfect place for boys!  It\'s built to give them a chance to run, climb, hang, swing, conquer obstacles burn energy and get stronger.  When you add a coach, a "Code of Honor" and a headband, you\'re all set for one of the most exciting and current classes ever offered for boys.</p>'.html_safe,
    given_levels: @tag,
    given_color: @bgc_orange
  } 
%>

<%= render partial: 'classtype_page', locals: given_locals %>