<% 
  given_locals = {
    given_title: "Tricks - TAG",
    given_header: "Tricks Agility Gymnastics",
    given_header_image: "/assets/site_header_images/TAG2.png",
    given_bubbles: [205,1,3],
    given_description: "<p>Sweat and smiles is our goal for all TAG classes. If you want your child to be comfortable in their skin and confident with their physical abilities, you found the right class. This program is designed to give kids a chance to
      run, climb, hang, swing, conquer obstacles, burn energy and get stronger. When you add a coach and a \"Code of Honor\", you\'re all set for one of the most exciting and current classes ever offered for kids.</p>'".html_safe,
    given_levels: @tag,
    given_color: @bgc_orange
  } 
%>

<%= render partial: 'classtype_page', locals: given_locals %>