<% @title = "Tricks Gymnastics" %>
<% content_for :pagestyle do %>
  body {background-color: <%= @bgc_yellow %>;}
  #infobox {float: left; margin-left: 19px; margin-bottom: 25px; width: 670px; text-align: justify;}
<% end %>

<div class="content">
  <h1>Tricks Agility Gymnastics</h1>
  <div id="infobox" style="width: 945px;">
    <iframe style="float:right; padding: 5px 0px 15px 15px" width="367" height="248" src="http://www.youtube.com/embed/kT9zqO6XxQ8?rel=0" frameborder="0"></iframe>
  
    <p>A gym is the perfect place for boys!  It's built to give them a chance to run, climb, hang, swing, conquer obstacles burn energy and get stronger.  When you add a coach, a "Code of Honor" and a headband, you're all set for one of the most exciting and current classes ever offered for boys.</p>
  </div>
  <div id="infobox">
    <% @tag.each do |level| %>
      <h3><%= link_to level.levelname + " - Age: " + level.age, level, id: 'link' %>:</h3>
      <%= level.short_description %><br>
    <% end %>
  </div>
</div>