<% @title = "Tricks TeamGym" %>
<% content_for :pagestyle do %>
  body {background-color: <%= @bgc_yellow %>;}
<% end %>

<div id="content" style="height: 400px;">
	<h1>TeamGym</h1>
	<div style="float: left; margin-left: 30px; margin-top: -30px; width: 262px; height: 320px; text-align: center">
		<img src="/assets/logos/proptg.jpg" width="222" height="189" alt="Tumblebunny" /><br>
		<br>
		<h3>
      <%= link_to "Granite Bay Schedule", schedules_gb_gym_path, :style => "color:#223d99;" %>
    </h3>
    <h3>
      <%= link_to "Folsom Schedule", schedules_fol_gym_path, :style => "color:#ec1e79;" %>
    </h3>
    <h3>
      <%= link_to "Sacramento Schedule", schedules_sac_gym_path, :style => "color:#79c843;" %>
    </h3>
	</div>
	<div style="float: left; width: 420px; height: 300px; font-family: Tahoma, Geneva, sans-serif; font-size: 15px;">
		
		<p>TRICKS is one of the strongest teams in the nation representing TeamGym. Gymnasts compete in a group in two events; Floor ex and Jump. The Jump routine consists of tumbling, vault and mini tramp.</p>
		<p>TeamGym is an exciting genre of gymnastics!  These teams have competed in New York, Texas, So Cal, Las Vegas and have even participated in World Gymnastrada in Spain.</p>
		<p>Most meets are local.  We travel to one away meet plus Nationals for qualifying teams.</p>
		<p>All levels of athletes can participate. The season starts in July and ends in June. Try outs are the end of June.</p>
	</div>
	<div style="float: right; margin: -30px 30px 0px 0px; height: 330px;">
		<img src="/assets/structure/teamgymside.png" width="245" height="313" alt="Gymnastics Teams" /><br>
	</div>
</div>