<% @title = "Tricks Thank You Page" %>
<% content_for :pagestyle do %>
  body {background-color: <%= @bgc_yellow %>;}
<% end %>

<div class="content">
	<br>
	<br>
	<h1>Thank You</h1>
	<h2 style="text-align:center">Your submission has been received.</h2>
	<br>
	<br>
	<br>
	<br>
</div>