<% @title = "Tricks University" %>
<% content_for :pagestyle do %>
  body {background-color: <%= @bgc_yellow %>;}
  h1 {font-size: 30px;}
<% end %>
<% @tricksu_password = true %>

<div class="content">
	<div id="tricksu_category">
		<h1>Skill Trainings<br>
School-Age</h1>
		<a id="link" href="tricksu/1.1_Level_A/Level_A.html" target="new">
			A Girls/Boys
		</a>
		<br>
		<a id="link" href="tricksu/1.2_Level_1/Level_1.html" target="new">
			1 Girls/Boys
		</a>
		<br>
		<a id="inactive_link" href="Javascript:void()" target="new">
			Level 2 Girls
		</a>
		<br>
		<a id="inactive_link" href="Javascript:void()" target="new">
			Level 2 Boys
		</a>
		<br>
		<a id="inactive_link" href="Javascript:void()" target="new">
			Level 3 Girls
		</a>
		<br>
	</div>
	<div id="tricksu_category" style="border-style: solid none">
		<h1>Skill Trainings<br>
Tumblebunny</h1>
		<a id="inactive_link" href="Javascript:void()" target="new">
			Baby
		</a>
		<br>
		<a id="inactive_link" href="Javascript:void()" target="new">
			Explorer
		</a>
		<br>
		<a id="inactive_link" href="Javascript:void()" target="new">
			Toddler
		</a>
		<br>
		<a id="inactive_link" href="Javascript:void()" target="new">
			Mini
		</a>
		<br>
		<a id="inactive_link" href="Javascript:void()" target="new">
			Kinder 1
		</a>
		<br>
		<a id="inactive_link" href="Javascript:void()" target="new">
			Kinder 2
		</a>
	</div>
	<div id="tricksu_category">
		<h1>Additional<br>
			Trainings</h1>
		<a id="link" href="tricksu/3.1_Rolling_Bars_&_Floor/rolling_bars_&_floor.html" target="new">
			Rolling: Bars & Floor
		</a>
		<br>
		<a id="link" href="tricksu/3.2_Boys_Equipment _&_Beam/boys_equipment_&_beam.html" target="new">
			Boys Equipment & Beam
		</a>
		<br>
		<a id="link" href="tricksu/3.5_Mathew_Easy_Enthusiasm/easy_enthusiasm.html" target="new">
			Easy Enthusiasm by Matthew
		</a>
	</div>
	<div id="tricksu_category">
		<h1>TAG
		Trainings</h1>
		<a id="link" href="tricksu/4.1_TAG_Training_Level_1/level_1.html" target="new">
			Level 1
		</a>
		<br>
		<a id="inactive_link" href="Javascript:void()" target="new">
			Level 2
		</a>
		<br>
		<a id="inactive_link" href="Javascript:void()" target="new">
			Level 3
		</a>
		<br>
	</div>
	<div id="tricksu_category" style="border-style: solid solid solid none">
		<h1>Swim Trainings</h1>
		<a id="inactive_link" href="Javascript:void()" target="new">
			Tadpole Tots
		</a>
		<br>
		<a id="inactive_link" href="Javascript:void()" target="new">
			Minnows
		</a>
		<br>
		<a id="inactive_link" href="Javascript:void()" target="new">
			Otters
		</a>
		<br>
		<a id="inactive_link" href="Javascript:void()" target="new">
			Dolphins
		</a>
		<br>
		<a id="inactive_link" href="Javascript:void()" target="new">
			Sharks
		</a>
		<br>
		<a id="inactive_link" href="Javascript:void()" target="new">
			Stingrays
		</a>
		<br>
	</div>
</div>