<% @title = "Tricks Gymnastics" %>
<% content_for :pagestyle do %>
  body {background-color: <%= @bgc_yellow %>;}
  #infobox {float: left; margin-left: 19px; margin-bottom: 25px; width: 670px; text-align: justify;}
<% end %>

<div class="content">
  <h1>Preschool-Aged Gymnastics (Ages 0-5)</h1>
  <div id="infobox" style="width: 945px;">
    <!-- <iframe style="float:right; padding: 5px 0px 15px 15px" width="367" height="248" src="http://www.youtube.com/embed/kT9zqO6XxQ8?rel=0" frameborder="0"></iframe> -->
    <p> We have developed an exciting and highly successful approach to pre-school child development using gymnastics as a learning environment. Our 45 minute Tumblebunny classes are jam-packed with music, movement, fun and physical challenges. The Tumblebunnies have their own gym separate from the school- age children. The children climb, roll, jump, swing, bounce, hang, balance, and most importantly, never stop moving! </p>
    <p> Our wonderful coaches have a true love and enthusiasm for children. We provide a positive environment with lots of opportunities to succeed and grow. As soon as your child becomes mobile, a whole new world opens up including motor development activities at TRICKS.®  This is a critical brain development age. Children need to have many, many varied experiences from 0-5 years old. </p>
  </div>
  <div id="infobox">
    <% @tumblebunnies.each do |level| %>
      <h3><%= link_to level.levelname + " - Age: " + level.age, level, id: 'link' %>:</h3>
      <%= level.short_description %><br>
    <% end %>
  </div>
  </div>
</div>