<% 
  given_locals = {
    given_title: "Tricks - Preschool-Aged Gymnastics",
    given_header: "Preschool-Aged Gymnastics (Ages 0-5)",
    given_header_image: "",
    given_bubbles: [201,1,3],
    given_description: '
    <p>Gymnastics is the best work out a preschooler can get!  With every movement, your child is not only getting stronger, they’re also building strong circuits in the brain.  This will enhance their entire future.</p>
    <p>Our action packed classes teach important life skills like listening to a teacher, following directions and sequencing by moving around a circuit of perfectly sized equipment.  This all prepares your child for academics but it’s so much fun that your preschooler won\'t want to leave after class. We know that "the work of a child is play" and we plan great play!</p>
    <p>You\'ll see a difference in your child after just 4 Tumblebunny classes.  All little athletes are given a skill poster so that you can chart their progress at home.  Loving and highly trained teachers will help your child achieve new heights and grow in ways that only an environment like a Tumblebunny Gym can provide.</p>
    '.html_safe,
    given_levels: @tumblebunnies,
    given_color: @bgc_green
  } 
%>

<%= render partial: 'classtype_page', locals: given_locals %>