<% @title = "Tricks Turkey Camps" %>

<% content_for :pagestyle do %>
	body {background-color: <%= @bgc_orange %>;}
	p {font-size: 22px; text-align: center;}
	h2 {text-align: center;	font-size: 23px;}
<% end %>

<div class="content" style="font-family:Footlight MT Light; padding: 25px; width: 950px;">
	<div style="width:100%; height:100px;">
		<h1 style="font-size:50px;">Turkey Camps</h1>
	</div>
	<p style="font-size: 27px;">Send your little Turkey with us this <b>Fall Break!</b> These camps are a fun activity for ages 3 - 11. Camps include a snack, craft, and high energy activities such as jumping on the trampoline, relay races and obstacle courses.</p>
	<div style="float:left; width: 238px; height: 100px;margin-top:20px; margin-left: 35px;">
		<h2 style="text-decoration:underline;">Monday 11/19</h2>
		<p>Session 1 (9:00-12:00)</p>
		<p>Session 2 (12:30-3:30)</p>
	</div>
	<div style="float:left; width: 238px; height: 100px;margin-top:20px;">
		<h2 style="text-decoration:underline;">Tuesday 11/20</h2>
		<p>Session 3 (9:00-12:00)</p>
		<p>Session 4 (12:30-3:30)</p>
	</div>
	<div style="float:left; width: 238px; height: 100px;margin-top:20px;">
		<h2 style="text-decoration:underline;">Wednesday 11/21</h2>
		<p>Session 5 (9:00-12:00)</p>
		<p>Session 6 (12:30-3:30)</p>
	</div>
	<img style="float:right;" src="/assets/structure/2012 Turkey.png" width="200" height="340" alt="Turkey" />
	<div style="float:left; width: 740px; margin-top: 50px;">
		<img style="float:left;" src="/assets/logos/tricks-header.png" width="227" height="150" alt="Tricks Gymnastics" />
		<div style="float:left;width: 500px; height: 200px; margin-left: 5px; margin-top: 5px;">
			<h2 style="font-size: 23px;">Sign up on or before 11/17 and get $5.00 off!</h2>
			<p style="margin-top: 30px;">Individual price per session $30.00/ Sibling $25.00</p>
			<p>*Individual all day price $60.00/ Sibling $50.00</p>
			<p>*All Day price includes Pizza Lunch*</p>
		</div>
	</div>
	<div style="float:left; text-align:center; margin: 30px 0px 50px 0px; width: 100%;">
		<h1>Call to reserve your spot Today!</h1>
		<p style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif">Folsom (916)-351-0024</p>
		<p style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif">Granite Bay (916)-791-4496</p>
		<p style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif">Sacramento (916)-481-4496</p>
	</div>
</div>