<% @title = "Under Construction" %>
<% content_for :pagestyle do %>
  body {background-color: <%= @bgc_yellow %>;}
<% end %>

<div class="content" style="float: left; text-align: center; margin-bottom: 200px;">
	<h2>This page is currently under construction.</h2>
	<h3>Please check back later, hopefully it will be finished soon!!!</h3>
</div>