<% @title="404 Error" %>
<% content_for :pagestyle do %>
  body {background-color: <%= @bgc_yellow %>;}
  #infobox {float: left; margin-left: 19px; margin-bottom: 25px; width: 670px; text-align: justify;}
<% end %>

<div class="row align-center">
	<div class="columns medium-8 small-11">
		<h1 style="font-size: 40px;">The page you were looking for doesn't exist.</h1>
		<p style="text-align:center;">The website just went through a major overhaul. You may have mistyped the address, though it's more than likely that the page you are looking for has moved. Please use the menu bars to find what you are looking for and update your bookmarks.</p>
	</div>
</div>