<% content_for :title do %>
  Tricks 404 Error
<% end %>

<div class="row" style="margin-top: 100px;">
	<div class="columns small-12">
		<h1>The page you were looking for doesn't exist.</h1>
	</div>
</div>