<% @title="404 Error" %>
<% content_for :pagestyle do %>
  body {background-color: <%= @bgc_yellow %>;}
  #infobox {float: left; margin-left: 19px; margin-bottom: 25px; width: 670px; text-align: justify;}
<% end %>

<div class="content">
	<div id="infobox" style="width: 945px;">
		<h1 style="font-size: 40px;">The page you were looking for doesn't exist.</h1>
		<p style="text-align:center;">You may have mistyped the address or the page may have moved.</p>
		<h3 style="text-align:center; margin: 100px 0;">An email has been sent to the Webmaster detailing the error</h3>
	</div>
</div>