<% content_for :title do %>
  Tricks 422 Error
<% end %>

<div class="row align-center">
	<div class="columns large-8 ">
		<h1>The change you wanted was rejected</h1>
		<p style="text-align: center;">Maybe you tried to change something you didn't have access to.</p>
		<h3 style="text-align: center;">An email has been sent to the Webmaster detailing the error</h3>
	</div>
</div>