<% content_for :title do %>
	Tricks 500 Error
<% end %>

<div class="row align-center">
	<div class="columns large-8 ">
		<h1>Unknown Error</h1>
		<p style="text-align: center;">We're sorry, but something went wrong.</p>
		<h3 style="text-align: center;">An email has been sent to the Webmaster detailing the error</h3>
	</div>
</div>