<% @title="500 Error" %>
<% content_for :pagestyle do %>
  body {background-color: <%= @bgc_yellow %>;}
  #infobox {float: left; margin-left: 19px; margin-bottom: 25px; width: 670px; text-align: justify;}
<% end %>

<div class="content">
	<div id="infobox" style="width: 945px;">
		<h1 style="font-size: 40px;">Unknown Error</h1>
		<p style="text-align:center;">We're sorry, but something went wrong.</p>
		<h3 style="text-align:center; margin: 100px 0;">An email has been sent to the Webmaster detailing the error</h3>
	</div>
</div>