<%# 
    Required locals:
    form
    field
    options
    
    Optional locals:
    prompt
    required
%>
<% if !defined? label %>
    <% label = "" %>
<% end %>
<% if !defined? prompt %>
    <% prompt = "" %>
<% end %>
<% if !defined? required %>
    <% required = false %>
<% end %>

DO NOT USE YET, Not yet implemented

<div class=" input-group">
    <%= form.label field, class: "input-group-label" %>
    <%= form.select field, options, {:prompt => prompt}, required: required, class: "input-group-field" %>
</div>


<div class=" input-group">
    <%= form.label field, label, class: "input-group-label" %>
    <%= form.collection_select field, collection, :id, :name, prompt: "Select a Class Type", id: "classtype_select", class: "input-group-field" %>
</div>