<%# 
    Required locals:
    form
    field
    
    Optional locals:
    image_url
    classes
    label
    required
    disabled
%>

<%#= render partial: 'helper_fields/image_uploader', locals: {form: f, field: :text} %>

<% if defined? label && label.nil? %>
    <% label = "Upload Image" %>
<% end %>
<% if !defined? image_url %>
    <% image_url = nil %>
<% end %>
<% if !defined? required %>
    <% required = false %>
<% end %>
<% if !defined? disabled %>
    <% disabled = false %>
<% end %>
<% if !defined? classes %>
    <% classes = "button expanded" %>
<% end %>

<% if !image_url.nil? %>
<%= image_tag image_url %>
<div style="border: solid 1px #ccc; padding: 10px; margin-bottom: 1rem;">
<% end %>
    <%= form.label field, label, class: classes %>
    <%= form.file_field field, required: required, disabled: disabled, class: "show-for-sr" %>
    <% if !image_url.nil? %>
    <style>table{margin-bottom: 0;}</style>
    <%= render partial: 'helper_fields/switch', locals: {form: form, field: :remove_image, question: "Remove Image?"} %>
</div>
    <% end %>