<%# 
    Required locals:
    form
    field
    options
    
    Optional locals:
    label
    prompt
    required
%>

<%#= render partial: 'helper_fields/select', locals: {form: f, field: :field, options: array_of_options} %>

<% if !defined? label %>
    <% label = "" %>
<% end %>
<% if !defined? prompt %>
    <% prompt = "" %>
<% end %>
<% if !defined? required %>
    <% required = false %>
<% end %>
<% puts "Prompt: " + prompt %>
<div class=" input-group">
    <%= form.label field, label, class: "input-group-label" %>
    <%= form.select field, options, {include_blank: prompt}, class: "input-group-field", required: required ? "required" : false %>
</div>