<%# 
    Required locals:
    form
    field
    
    Optional locals:
    label
    placeholder
    help_text
    required
    disabled
%>

<%#= render partial: 'helper_fields/text', locals: {form: f, field: :text} %>

<% if !defined? label %>
    <% label = "" %>
<% end %>
<% if !defined? help_text %>
    <% help_text = "" %>
<% end %>
<% if !defined? placeholder %>
    <% placeholder = "" %>
<% end %>
<% if !defined? required %>
    <% required = false %>
<% end %>
<% if !defined? disabled %>
    <% disabled = false %>
<% end %>

<div class="input-group" style="flex-wrap: wrap;">
    <%= form.label field, label, class: "input-group-label" %>
    <%= form.text_field field, required: required, placeholder: placeholder, disabled: disabled, class: "input-group-field" %>
    <% if !help_text.empty? %>
        <p class="help-text" style="flex-basis: 100%;">(<%= help_text %>)</p>
    <% end %>
</div>