<%# 
    Required locals:
    form
    field
    
    Optional locals:
    label
    placeholder
    required
    disabled
    default
%>
<% if !defined? label %>
    <% label = "" %>
<% end %>
<% if !defined? placeholder %>
    <% placeholder = "" %>
<% end %>
<% if !defined? required %>
    <% required = false %>
<% end %>
<% if !defined? disabled %>
    <% disabled = false %>
<% end %>
<% if !defined? default %>
    <% default = "" %>
<% end %>

<div class="input-group">
    <%= form.label field, label, class: "input-group-label" %>
    <%= form.text_field field, required: required, value: default, placeholder: placeholder, disabled: disabled, class: "input-group-field" %>
</div>