<%# 
    Required locals:
    form
    field
    label
    
    Optional locals:
    required
%>
<% if !defined? required %>
    <% required = false %>
<% end %>

<div class=" input-group">
  <%= form.label field, label, class: "input-group-label" %>
  <%= form.text_field field, type: "time", required: required, class: "input-group-field" %>
</div>
