<%= stylesheet_link_tag "FileSpecificCSS/coaches", :media => "all" %>

<h1>Past Tricks Employees</h1>
<br>

<div class="row align-center">
  <% @past_employees.each do |coach| %>
    <%= render 'coach_container', :coach => coach  %>
  <% end %>
</div>
