<% text_default = "locals: {link:, image:, color:, text:, text_color:, show_button:}" %>
<% color_default = "333333" %>
<% text_color_default = "ffffff" %>
<% link_default = "javascript:void(0);" %>
<% show_button_default = false %>
<% data_toggle_default = "" %>
<% font_size_default = "90" %>


<% if defined? given_bubble #check if a bubble_content object was passed in %>
    <% bubble = given_bubble %>
<% elsif defined? @bubble_content #check if we are in the "show" view for bubble_content %>
    <% bubble = @bubble_content %>
<% else #check to see if it is a full custom bubble and use passed in locals or defaults %>
    <% bubble = BubbleContent.create() %>
    <% bubble.text = (defined? text) ? text : text_default %>
    <%# bubble.font_size = (defined? font_size) ? font_size : font_size_default %>
    <% bubble.color = (defined? color) ? color : color_default %>
    <% bubble.text_color = (defined? text_color) ? text_color : text_color_default %>
    <% bubble.link = (defined? link) ? link : link_default %>
    <% bubble.image = (defined? image) ? image : "" %>
    <% bubble.show_button = (defined? show_button) ? show_button : show_button_default %>
<% end %>

<% if bubble.text.blank? %>
    <% text = text_default %>
<% else %>
    <% text = bubble.text %>
<% end %>

<% if !defined? font_size %>
    <% font_size = font_size_default %>
<% end %>
    
<% if bubble.image.blank? %>

    <% if bubble.color.blank? %>
        <% color = color_default.gsub('#', '') %>
    <% else %>
        <% color = bubble.color.gsub('#', '') %>
    <% end %>
    
    <% if bubble.text_color.blank? %>
        <% text_color = text_color_default.gsub('#', '') %>
    <% else %>
        <% text_color = bubble.text_color.gsub('#', '') %>
    <% end %>
    
    <% image = "https://placeholdit.imgix.net/~text?txtsize="+font_size+"&bg="+color+"&txtclr="+text_color+"&txt="+text+"&w=500&h=500&fm=png" %>
<% else %>
    <% image = bubble.image %>
<% end %>

<% link = link_default %>
<% data_toggle = data_toggle_default %>
<% if !bubble.link.blank? %>
    <% if bubble.link.include? "modal" %>
        <% data_toggle = bubble.link %>
    <% else %>
        <% link = bubble.link %>
    <% end %>
<% end %>




<div style="text-align:center; width: 100%;">
    <!--<div class="columns large-12">-->
    <%= link_to image_tag(image, style: "border-radius: inherit;"), link, "data-toggle": data_toggle, style: "border-radius: 50%;" %>
    <% if bubble.show_button %>
        <%= link_to text, link, class: "button", "data-toggle": data_toggle, style: "border-radius: 5px; margin-top: 15px; font-size: 20px; color: #fff;; box-shadow: 2px 2px 10px #222;" %>
    <% end %>
    <!--</div>-->
</div>