<% @title = "Tricks PDF Upload" %>

<% content_for :pagestyle do %>
  body {background-color: <%= @bgc_orange %>;}
<% end %>

<h1>New website_pdf</h1>
<div style="width: 400px; margin: 0 auto 50px;">
<%= render 'form' %>

</div>
<%= link_to 'Back', website_pdfs_path %>