<% @title = "Tricks PDF Upload" %>

<% content_for :pagestyle do %>
  body {background-color: <%= @bgc_orange %>;}
<% end %>

<h1>Upload PDF</h1>
<div style="width: 400px; margin: 0 auto 50px;">
<%= render 'form' %>

</div>