<p id="notice"><%= notice %></p>


<%= link_to 'Edit', edit_recital_ad_path(@recital_ad) %> |
<%= link_to 'Destroy', @recital_ad, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', recital_ads_path %>

    