@font-face {
    font-family: 'TrebuchetMSRegular';
    
    src: asset-url('trebuc.eot');
    src: asset-url('trebuc.eot?#iefix') format('embedded-opentype'),
         asset-url('trebuc.woff') format('woff'),
         asset-url('trebuc.ttf') format('truetype'),
         asset-url('trebuc.svg#TrebuchetMSRegular') format('svg');
}

@font-face {
  font-family: 'grilled_cheese';
  
  src: asset-url('grilcbc_.eot');
  src: asset-url('grilcbc_.eot?#iefix') format('embedded-opentype'),
      asset-url('grilcbc_.woff') format('woff'),
      asset-url('grilcbc_.ttf') format('truetype'),
      asset-url('grilcbc_.svg#grilled_cheese') format('svg');
}

@font-face {
    font-family: 'evilgenius_bbreg';
      
    src: font-url('evilgeniusbb_reg-webfont.eot');
    src: font-url('evilgeniusbb_reg-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('evilgeniusbb_reg-webfont.woff') format('woff'),
         font-url('evilgeniusbb_reg-webfont.ttf') format('truetype'),
         font-url('evilgeniusbb_reg-webfont.svg#evilgenius_bbregular') format('svg');    
}

@font-face {
    font-family: 'evilgenius_bbbold';
    
    src: font-url('evilgeniusbb_bld-webfont.eot');
    src: font-url('evilgeniusbb_bld-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('evilgeniusbb_bld-webfont.woff') format('woff'),
         font-url('evilgeniusbb_bld-webfont.ttf') format('truetype'),
         font-url('evilgeniusbb_bld-webfont.svg#evilgenius_bbregular') format('svg');    
}

@import url('https://fonts.googleapis.com/css?family=Roboto:700|Slackey');