/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

#container {
	align:center;
}

#headergreen {
  background-image: url(/assets/app_header_green.png);
  background-position: center;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
  border: 0;
  float: left;
  height: 49px;
  width: 100%;
}

#footergreen {
  background-image: url(/assets/app_footer_green.png);
  background-position: center;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
  border: 0;
  float: left;
  height: 22px;
  width: 100%;
}

#bodygreen {
  background-image: url(/assets/app_body_green.png);
  background-position: center;
  padding: 0;
  margin: 0;
  border: 0;
  float: left;
  width: 100%;
  background-repeat: repeat-y;
}


.comments th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

.comments th .asc {
  background-image: url(/images/up_arrow.gif);
}

.comments th .desc {
  background-image: url(/images/down_arrow.gif);
}



.quotes th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

.quotes th .asc {
  background-image: url(/images/up_arrow.gif);
}

.quotes th .desc {
  background-image: url(/images/down_arrow.gif);
}



.users th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

.users th .asc {
  background-image: url(/images/up_arrow.gif);
}

.users th .desc {
  background-image: url(/images/down_arrow.gif);
}


.schedules th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

.schedules th .asc {
  background-image: url(/images/up_arrow.gif);
}

.schedules th .desc {
  background-image: url(/images/down_arrow.gif);
}