@font-face {
    font:{
      family: 'TrebuchetMSRegular';
      weight: 'normal';
      style: 'normal';
    }
    src: asset-url('trebuc.eot', font);
    src: asset-url('trebuc.eot?#iefix', font) format('embedded-opentype'),
         asset-url('trebuc.woff', font) format('woff'),
         asset-url('trebuc.ttf', font) format('truetype'),
         asset-url('trebuc.svg#TrebuchetMSRegular', font) format('svg');
}

@font-face {
  font: {
    family: 'grilled_cheese';
    weight: 'normal';
    style: 'normal';
  }
  src: asset-url('grilcbc_.eot', font);
  src: asset-url('grilcbc_.eot?#iefix', font) format('embedded-opentype'),
       asset-url('grilcbc_.woff', font) format('woff'),
       asset-url('grilcbc_.ttf', font) format('truetype'),
       asset-url('grilcbc_.svg#grilled_cheese', font) format('svg')
}

@font-face {
    font: {
      family: 'evilgenius_bbreg';
      weight: normal;
      style: normal;
  }     
    src: font-url('evilgeniusbb_reg-webfont.eot');
    src: font-url('evilgeniusbb_reg-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('evilgeniusbb_reg-webfont.woff') format('woff'),
         font-url('evilgeniusbb_reg-webfont.ttf') format('truetype'),
         font-url('evilgeniusbb_reg-webfont.svg#evilgenius_bbregular') format('svg');    
}

@font-face {
    font: {
      family: 'evilgenius_bbbold';
      weight: normal;
      style: normal;
  }     
    src: font-url('evilgeniusbb_bld-webfont.eot');
    src: font-url('evilgeniusbb_bld-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('evilgeniusbb_bld-webfont.woff') format('woff'),
         font-url('evilgeniusbb_bld-webfont.ttf') format('truetype'),
         font-url('evilgeniusbb_bld-webfont.svg#evilgenius_bbregular') format('svg');    
}