*{
	padding:0;
	margin:0;
}

h1 {
	text-align: center;
	margin-bottom: 20px;
}

h2 {
	text-align: center;
	font-size: 24px;
	margin-bottom: 20px;
}

h3 {
	margin-bottom: 20px;
}

body {
  	background-color: #94e849;
	color: #222;
	font-size: 14px;
  	font-family: trebuchet ms;
	text-align: left;
	margin-top: 20px;
}

#container {
	/* min-width: 800px; */
	/* max-width: 1100px; */
	width: 950px;
	margin: 0 auto;
}

#user_header {
	text-align: right;
	padding: 0 5px;
	font-size: 15px;
	margin-top: -10px;
	margin-bottom: 40px;
}

#form {
	margin-left: 30px;
}

#flash_notice, #flash_error, #flash_alert {
  text-align: center;
  width: 400px;
  padding: 5px 8px;
  margin: 20px 260px;
  
}

#flash_notice {
  background-color: #CFC;
  border: solid 2px #6C6;
}

#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 2px #C66;
}


