#promo-img {
  float: right;
  width: 367px;
  height: 248px;
  margin-right: 28px;
}

#html_inline_show{
  float:right;
  width: 367px;
  height: 282px;
  margin: 5px 60px;
  border: solid 1px #888;
}

#image_show{
  float:right;
  width: 367px;
  height: 282px;
  margin: 5px 60px;
  border: solid 1px #888;
}

#link_path_input{
  display:none;
  float: left;
}

#order_input{
  display:none;
  float: left;
}