*{
	padding:0;
	margin:0;
}

#Quotes {
	width: 970px;
	margin: 0 auto;
	/* border: solid 2px #888; */
	height: 250px;
}

#Random_Quote_Container {
	font-family: trebuchet ms;
	color: #444; 
	text-align: justify; 
	float:left;
	width: 300px;  
	margin: 0px 11px;
	/* border: solid 2px #888; */
}

#Random_Quote_Container #Quote {
	font-size: 14px; 
	float: left;
	width: auto;
	/*border: solid 2px #888;*/
	margin: -10px 26px 12px 14px;
}

#Random_Quote_Container #Name{
	font-size: 16px; 
	float: right; 
	margin: 2px 30px 0px 0px;
	padding-bottom: 20px;
	margin-top: -13px;
}

#quoteheaderyellow {
  background-image: url(/assets/structure/quote_header_yellow.png);
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  float: left;
  height: 20px;
  width: 300px;
}

#quotebodyyellow {
  background-image: url(/assets/structure/quote_body_yellow.png);
  background-position: center;
  background-repeat: repeat-y;
  margin: 0;
  float: left;
  width: 300px;  
}

#quotefooteryellow {
  background-image: url(/assets/structure/quote_footer_yellow.png);
  background-position: center;  
  background-repeat: no-repeat;
  margin: 0;
  float: left;
  height: 29px;
  width: 300px;
}

