*{
	padding:0;
	margin:0;
}

#Comments {
	width: 650px;
	margin: 0 auto;
	/* border: solid 2px #888; */
}

#Random_Comment_Container {
	font-family: trebuchet ms;
	color: #444; 
	text-align: justify; 
	float:left; 
	width: 650px; 
	margin: 0px 7px 0px 7px; 
	padding: 4px;
}
#Random_Comment_Container #Comment {
	font-color: #222;	
	font-size: 14px;

	margin: -7px 26px 20px 14px;
}

#Random_Comment_Container #Name{
	float:right; 
	font-size: 16px; 
	color: #444; 
	margin: 0px 30px 0px 0px;
	padding-bottom: 20px;
	margin-top: -15px;
}

#commentheadergreen {
  background-image: url(/assets/structure/comment_header_green.png);
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  float: left;
  height: 19px;
  width: 650px;
}

#commentbodygreen {
  background-image: url(/assets/structure/comment_body_green.png);
  background-position: center;
  background-repeat: repeat-y;
  margin: 0;
  float: left;
  width: 650px;  
}

#commentfootergreen {
  background-image: url(/assets/structure/comment_footer_green.png);
  background-position: center;  
  background-repeat: no-repeat;
  margin: 0;
  float: left;
  height: 27px;
  width: 650px;
}

#commentheaderpink {
  background-image: url(/assets/structure/comment_header_pink.png);
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  float: left;
  height: 19px;
  width: 650px;
}

#commentbodypink {
  background-image: url(/assets/structure/comment_body_pink.png);
  background-position: center;
  background-repeat: repeat-y;
  margin: 0;
  float: left;
  width: 650px;  
}

#commentfooterpink {
  background-image: url(/assets/structure/comment_footer_pink.png);
  background-position: center;  
  background-repeat: no-repeat;
  margin: 0;
  float: left;
  height: 27px;
  width: 650px;
}

#commentheaderblue {
  background-image: url(/assets/structure/comment_header_blue.png);
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  float: left;
  height: 19px;
  width: 650px;
}

#commentbodyblue {
  background-image: url(/assets/structure/comment_body_blue.png);
  background-position: center;
  background-repeat: repeat-y;
  margin: 0;
  float: left;
  width: 650px;  
}

#commentfooterblue {
  background-image: url(/assets/structure/comment_footer_blue.png);
  background-position: center;  
  background-repeat: no-repeat;
  margin: 0;
  float: left;
  height: 27px;
  width: 650px;
}
