// Place all the styles related to the RecitalAds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#select_box{
	width: 848px;
	/*border: blue solid 3px;*/
	min-height: 600px;
	padding: 30px 50px 0px 50px;
}

#ad_box{
	border: 1px solid black;
  margin: 3px 0px;
	width: 420px;
	/*float: left;*/
  padding: 7px;
  text-align:center;
  #blank{}
  h2{
    font-size: 24px;
  }
  h3{
    font-size: 16px;
    font-weight: normal;
    line-height: 14px;
  }
    
  #ad_name{
    /*float: left;*/
    width: 140px;
    /*border: 2px solid yellow;*/
  }
  #ad_info{
    float: right;
    width: 260px;
    /*border: 1px solid purple;*/
    padding-bottom: 3px;
    margin-right: 5px;
  }
}



#image_box{
	float:right;  margin-top: 5px;
  height: 700px;
}

.block {
  display: table;
} 
 
.centered {
  display: table-cell;
  text-align: justify;
  vertical-align: middle;
  /*border: #a0a0a0 solid 1px;*/
  /*background: #f5f5f5;*/
}

#personal_errors{
  margin: 30px 33px;
}

#personal_info{
  width: 500px;
  margin-left: 50px;
}

#payment_info{
  display:none;
  width: 500px;
  margin-left: 50px;
}
