

body {
  font-family: trebuchet ms, verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-align: left;
}

p, ol, ul, td {
  font-family: trebuchet ms, verdana, arial, helvetica, sans-serif;
  font-size: 14px;
  line-height: 24px;
}

td{
  padding: 1px 10px 1px 10px;
  border: solid 1px #222;
  margin-right: -10px;
}

th {
  text-align: center;
}

pre {
  background-color: #fff;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
  color: #fff;
  font-weight: bold;
}

#error_explanation {
  width: 380px;
  border: 2px solid red;
  padding-bottom: 10px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: center;
    font-weight: bold;
    padding: 5px 5px;
    font-size: 13px;
    margin: 3px;
    margin-bottom: 4px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
    margin-left: 50px;
  }
}
