/*Gender Header*/
h1{
	padding: 12px;
	margin-bottom: 0;
	font-size: 28px;
}

/*Page Header*/
h2{
	padding: 8px;
	margin-bottom: 0px;
	font-size: 18px;
}

/*Level Title Headers*/
h3{
	text-align: center;
	margin: 5px 0px 2px 0px;
	font-size: 18px;
}

/*Level Info*/
h4{
	text-align: center;
	font-size: 13px;
	margin-bottom: 6px;
}

.leveltitle{
	/*text-decoration: underline;*/
}


.day{
	float: left;
	width: 100%;
	h3{
		text-align: left;
		font-size: 14px;
	}
}

.day_name{
	float: left;
	margin: 0px 10px 0px 10px;
	padding: 0px;
	width: 30px;
}

.classes_box{
	border: none;
	float: left;
	margin-top: 5px;
	padding-left: 20px;
}

#header {
	border: 1px solid black;
	background-color: #ccc;
	width: 948px;
}

#masonry_container {
	/*border: blue solid 3px;*/
	width: 945px;
	min-height: 1050px;
	overflow: auto
}

#info{
	border: 2px green solid;
	width: 626px;
	height: 120px;
	margin-top: 6px;
	float:left;
}

#levelname{
		border: 1px solid black; 
		margin-bottom: 6px;
		width: 307px;
		padding-bottom: 10px;
		float: left;
		margin: 3px;
		display: block;
	}



#girls_container{
	float:left;
	width: 630px;

	#girls_header{
		border: 1px solid black; 
		background-color:#ccc;
		margin: 6px 0px;
	}

	#left_side{
		float: left;
		width: 310px;
		border: none;
	}
		
	#right_side{
		float: left;
		margin-left: 8px;
		width: 310px;
		border: none;
	}

	

	#level_a{
		border: 1px solid black; 
		margin-bottom: 6px;
		width: 310px;
		overflow:auto;
		padding-bottom: 10px;
	}

	#level_1{
		border: 1px solid black; 
		margin-bottom: 6px;
		width: 310px;
		overflow:auto;
		padding-bottom: 10px;

	}

	#level_2{
		border: 1px solid black; 
		margin-bottom: 6px;
		width: 310px;
		overflow:auto;
		padding-bottom: 10px;
	}

	#level_3{
		border: 1px solid black; 
		margin-bottom: 6px;
		width: 310px;
		overflow:auto;
		padding-bottom: 10px;
	}

	#level_4{
		border: 1px solid black; 
		margin-bottom: 6px;
		width: 310px;
		overflow:auto;
		padding-bottom: 10px;
	}

	#level_5{
		border: 1px solid black; 
		margin-bottom: 6px;
		width: 310px;
		overflow:auto;
		padding-bottom: 10px;
	}
}


#boys_container{
	float: right;
	width: 312px;

	#boys_header{
		border: 1px solid black; 
		margin-bottom: 6px;
		background-color:#ccc;
		margin: 6px 0px;
	}	
	
	#level_a{
		border: 1px solid black; 
		margin-bottom: 6px;
		width: 312px;
		overflow:auto;
		padding-bottom: 10px;
	}

	#level_1{
		border: 1px solid black; 
		margin-bottom: 6px;
		width: 312px;
		overflow:auto;
		padding-bottom: 10px;
	}

	#level_2{
		border: 1px solid black; 
		margin-bottom: 6px;
		width: 312px;
		overflow:auto;
		padding-bottom: 10px;
	}
}

#tumble_container{
	float: right;
	width: 312px;

	#tumble_header{
		border: 1px solid black; 
		margin-bottom: 6px;
		background-color:#ccc;
		margin: 6px 0px;
		h1{
			padding: 12px;
			margin-bottom: 0;
			font-size: 20px;
		}
	}	
	
	#level_1-2{
		border: 1px solid black; 
		margin-bottom: 6px;
		width: 312px;
		overflow:auto;
		padding-bottom: 10px;
	}

	#level_3-4{
		border: 1px solid black; 
		margin-bottom: 6px;
		width: 312px;
		overflow:auto;
		padding-bottom: 10px;
	}

	#level_5-6{
		border: 1px solid black; 
		margin-bottom: 6px;
		width: 312px;
		overflow:auto;
		padding-bottom: 10px;
	}
}