<%= stylesheet_link_tag "FileSpecificCSS/absents", :media => "all" %>

<div class="row align-center columns small-12">
  <h1>Notification of Absence</h1>
</div>

<div class="row align-center">
  <div class="columns small-12 large-8">
    <p style="font-size: 22px; text-align: justify; line-height: 35px;">
      If you know your child will be absent from class, please let us know. By filling out this form, you make it easier for us to schedule make up classes by freeing up some class space. Thank you so much for your cooperation!
    </p>
  </div>
</div>

<div class="row align-center">
  <div class="columns small-12 large-8">
    <%= render 'form' %>
  </div>
</div>