<h1>Notification of Absence</h1>

<div style="float: left; padding: 20px; margin: 40px 10px; width: 420px;">
  <p style="font-size: 22px; text-align: justify; line-height: 35px;">
    If you know your child will be absent from class, please let us know. By filling out the form on the right, you make it easier for us to schedule make up classes by freeing up some class space. Thank you so much for your cooperation!
  </p>
</div>

<div style="float: left; width: 380px; border: solid 2px #888; box-shadow: 0 0 8px #aaa; padding: 20px; margin: 40px 30px; border-radius: 5px;">
  <%= render 'form' %>

</div>