<!DOCTYPE html>
<html>
<head>
<title>Tricks App</title>
  <%= stylesheet_link_tag    "random_quote", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body onload="parent.alertsize(document.body.scrollHeight);">

		<div>
			<%= yield %>
		</div>
	
</body>
</html>
