<!DOCTYPE html>
<html>
<head>
<title>Tricks App</title>
  <%= stylesheet_link_tag    "random_comment", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body onload="parent.alertsize(document.body.scrollHeight);">

	<div id="headergreen2"></div>
	<div id="bodygreen2">
		<div id="container2">
			<%= yield %>
		</div>
	</div>
	<div id="footergreen2"></div>
</body>
</html>
